{%- assign blockId = block.id -%}
{% if product %}
  {%- assign blockId = block.id | append: product.id -%}
{% endif %}

<div class="index-section">
  <div class="page-width">

    <div class="grid">
      <div class="grid__item{% if block.settings.narrow_column %} medium-up--three-quarters medium-up--push-one-eighth{% endif %}">
        {% if block.settings.title != blank %}
          <div class="section-header">
            <h1 class="section-header__title">
              {{ block.settings.title }}
            </h1>
            <p>{{ block.settings.subtitle }}</p>
          </div>
        {% endif %}

        <div class="form-vertical">
          {% form 'contact' %}

            {% if form.posted_successfully? %}
              <p class="note note--success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}

            {{ form.errors | default_errors }}

            <div class="grid grid--small">
              <div class="grid__item medium-up--one-half">
                <label for="ContactFormFName-{{ blockId }}">{{ 'contact.form.firstname' | t }}<span>*</span></label>
                <input type="text" id="ContactFormFName-{{ blockId }}" class="input-full" name="contact[firstname]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.first_name }}{% endif %}" required>
              </div>
              
              <div class="grid__item medium-up--one-half">
                <label for="ContactFormLName-{{ blockId }}">{{ 'contact.form.lastname' | t }}</label>
                <input type="text" id="ContactFormLName-{{ blockId }}" class="input-full" name="contact[lastname]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.last_name }}{% endif %}">
              </div>
              
              <div class="grid__item medium-up--one-half">
                <label for="ContactFormEmail-{{ blockId }}">{{ 'contact.form.email' | t }}<span>*</span></label>
                <input type="email" id="ContactFormEmail-{{ blockId }}" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required>
              </div>
              
              {% if block.settings.show_phone %}
			  <div class="grid__item medium-up--one-half">
                <label for="ContactFormPhone-{{ blockId }}">{{ 'contact.form.phone' | t }}</label>
              	<input type="tel" id="ContactFormPhone-{{ blockId }}" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
              </div>
              {% endif %}
              {% if block.settings.show_order %}
              <div class="grid__item medium-up--one-half">
                <label for="ContactFormOrder-{{ blockId }}">{{ 'contact.form.order' | t }}</label>
              	<input type="text" id="ContactFormOrder-{{ blockId }}" class="input-full" name="contact[order]" value="{% if form.order %}{{ form.order }}{% endif %}">
              </div>
              {% endif %}
              <div class="grid__item medium-up--one-half">
                <label for="ContactFormSubject-{{ blockId }}">{{ 'contact.form.subject' | t }}</label>
                <select id="ContactFormSubject-{{ blockId }}" class="input-full" name="contact[subject]">
                  <option value="1">Wholesale Query</option>
                </select>
              </div>
              <div class="grid__item medium-up--one-half">
                <label for="ContactFormCompany-{{ blockId }}">{{ 'contact.form.company' | t }}</label>
              	<input type="text" id="ContactFormCompany-{{ blockId }}" class="input-full company commonHide" name="contact[company]" value="{% if form.company %}{{ form.company }} {% endif %}">
              </div>
              
            </div>

            <label for="ContactFormMessage-{{ blockId }}">{{ 'contact.form.message' | t }}</label>
            <textarea rows="5" id="ContactFormMessage-{{ blockId }}" class="input-full" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

            <button type="submit" class="btn">
              {{ 'contact.form.send' | t }}
            </button>

          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #contact_form label span{
  	color:#000000;
    font-size: 16px;
    position: absolute;
  }
</style>