{% paginate customer.addresses by 5 %}

<div class="page-width page-content">

  {% if settings.show_breadcrumbs %}
    <nav class="breadcrumb{% if settings.type_headers_align_text %} text-center{% endif %}" role="navigation" aria-label="breadcrumbs">
      <a href="{{ routes.account_url }}">{{ 'customer.account.title' | t }}</a>
      <span class="divider" aria-hidden="true">/</span>
      {{ 'customer.addresses.title' | t }}
    </nav>
  {% endif %}

  {% comment %} <header class="section-header{% unless settings.type_headers_align_text %} section-header--with-link{% endunless %}">
    <h1 class="section-header__title">{{ 'customer.addresses.title' | t }}</h1>
    <button type="button" class="btn btn--secondary btn--small section-header__link address-new-toggle js-no-transition">{{ 'customer.addresses.add_new' | t }}</a>
  </header> {% endcomment %}

  <div class="grid">
    <div class="grid__item medium-up--two-fifths page-links">
      <a class="page-link" href="#" data-handle="none">Orders & Return</a>
      <a class="page-link" href="#" data-handle="none">My Wishlist</a>
      <a class="page-link" href="{{ routes.account_url }}" data-handle="/account">My Account</a>
      <a class="page-link" href="{{ routes.account_logout_url }}" data-handle="/logout">Logout</a>
    </div>

    <div class="grid__item medium-up--three-fifths">

      <div id="AddressNewForm" class="form-vertical js-address-form text-left hide">
        {% form 'customer_address', customer.new_address %}

          <h2>{{ 'customer.addresses.add_new' | t }}</h2>

          <div class="grid grid--small">

            <div class="grid__item one-half small--one-whole">
              <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
              <input type="text" id="AddressFirstNameNew" class="input-full" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
            </div>

            <div class="grid__item one-half small--one-whole">
              <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
              <input type="text" id="AddressLastNameNew" class="input-full" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
            </div>

          </div>

          <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
          <input type="text" id="AddressCompanyNew" class="input-full" name="address[company]" value="{{form.company}}" autocapitalize="words">

          <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
          <input type="text" id="AddressAddress1New" class="input-full" name="address[address1]" value="{{form.address1}}" autocapitalize="words">

          <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
          <input type="text" id="AddressAddress2New" class="input-full" name="address[address2]" value="{{form.address2}}" autocapitalize="words">

          <div class="grid grid--small">
            <div class="grid__item medium-up--one-half">
              <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
              <input type="text" id="AddressCityNew" class="input-full" name="address[city]" value="{{form.city}}" autocapitalize="words">
            </div>

            <div
              class="grid__item medium-up--one-half js-address-country"
              data-country-id="AddressCountryNew"
              data-province-container-id="AddressProvinceContainerNew"
              data-province-id="AddressProvinceNew">
              <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
              <select id="AddressCountryNew" class="input-full" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
            </div>

            <div class="grid__item" id="AddressProvinceContainerNew" style="display: none;">
              <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
              <select id="AddressProvinceNew" class="input-full" name="address[province]" data-default="{{form.province}}"></select>
            </div>

            <div class="grid__item medium-up--one-half">
              <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
              <input type="text" id="AddressZipNew" class="input-full" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
            </div>

            <div class="grid__item medium-up--one-half">
              <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
              <input type="tel" id="AddressPhoneNew" class="input-full" name="address[phone]" value="{{form.phone}}">
            </div>
          </div>

          <p>
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
          </p>

          <p>
            <button type="submit" class="btn">
              {{ 'customer.addresses.add' | t }}
            </button>
          </p>
          <p>
            <button type="button" class="text-link address-new-toggle">{{ 'customer.addresses.cancel' | t }}</button>
          </p>

        {% endform %}
      </div>

      {% comment %}
        List all customer addresses with a unique edit form.
        Also add pagination in case they have a large number of addresses
      {% endcomment %}
      <header>
        <div class="np-h1 account-title">{{ 'customer.account.title' | t }}</div>
      </header>
      <div class="np-h10 account-sub-header">{{ 'customer.account.details' | t }}</div>
      {% for address in customer.addresses %}
        {{ address | format_address }}

        <p>
          <button type="button" class="btn btn--small address-edit-toggle" data-form-id="{{ address.id }}">{{ 'customer.addresses.edit' | t }}</button>
          {% comment %} <button type="button" class="btn btn--secondary btn--small address-delete" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">{{ 'customer.addresses.delete' | t }}</button> {% endcomment %}
        </p>

        <div id="EditAddress_{{ address.id }}" class="form-vertical js-address-form text-left hide">
          {% form 'customer_address', address %}

            <hr class="hr--large" />
            <h2>{{ 'customer.addresses.edit_address' | t }}</h2>

            <div class="grid grid--small">
              <div class="grid__item one-half small--one-whole">
                <label for="AddressFirstName_{{form.id}}">{{ 'customer.addresses.first_name' | t }}</label>
                <input type="text" id="AddressFirstName_{{form.id}}" class="input-full" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
              </div>

              <div class="grid__item one-half small--one-whole">
                <label for="AddressLastName_{{form.id}}">{{ 'customer.addresses.last_name' | t }}</label>
                <input type="text" id="AddressLastName_{{form.id}}" class="input-full" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
              </div>
            </div>

            <label for="AddressCompany_{{form.id}}">{{ 'customer.addresses.company' | t }}</label>
            <input type="text" id="AddressCompany_{{form.id}}" class="input-full" name="address[company]" value="{{form.company}}" autocapitalize="words">

            <label for="AddressAddress1_{{form.id}}">{{ 'customer.addresses.address1' | t }}</label>
            <input type="text" id="AddressAddress1_{{form.id}}" class="input-full" name="address[address1]" value="{{form.address1}}" autocapitalize="words">

            <label for="AddressAddress2_{{form.id}}">{{ 'customer.addresses.address2' | t }}</label>
            <input type="text" id="AddressAddress2_{{form.id}}" class="input-full" name="address[address2]" value="{{form.address2}}" autocapitalize="words">

            <label for="AddressCity_{{form.id}}">{{ 'customer.addresses.city' | t }}</label>
            <input type="text" id="AddressCity_{{form.id}}" class="input-full" name="address[city]" value="{{form.city}}" autocapitalize="words">

            <div
              class="js-address-country"
              data-country-id="AddressCountry_{{form.id}}"
              data-province-container-id="AddressProvinceContainer_{{form.id}}"
              data-province-id="AddressProvince_{{form.id}}">
              <label for="AddressCountry_{{form.id}}">{{ 'customer.addresses.country' | t }}</label>
              <select id="AddressCountry_{{form.id}}" class="input-full" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
            </div>

            <div id="AddressProvinceContainer_{{form.id}}" style="display: none;">
              <label for="AddressProvince_{{form.id}}">{{ 'customer.addresses.province' | t }}</label>
              <select id="AddressProvince_{{form.id}}" class="input-full" name="address[province]" data-default="{{form.province}}"></select>
            </div>

            <div class="grid grid--small">
              <div class="grid__item one-half small--one-whole">
                <label for="AddressZip_{{form.id}}">{{ 'customer.addresses.zip' | t }}</label>
                <input type="text" id="AddressZip_{{form.id}}" class="input-full" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
              </div>

              <div class="grid__item one-half small--one-whole">
                <label for="AddressPhone_{{form.id}}">{{ 'customer.addresses.phone' | t }}</label>
                <input type="tel" id="AddressPhone_{{form.id}}" class="input-full" name="address[phone]" value="{{form.phone}}">
              </div>
            </div>

            <p>
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_{{form.id}}" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
            </p>

            <p>
              <button type="submit" class="btn">
                {{ 'customer.addresses.update' | t }}
              </button>
            </p>
            <p>
              <button type="button" class="text-link address-edit-toggle" data-form-id="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</button>
            </p>
          {% endform %}
        </div>

        <hr class="hr--medium">

      {% endfor %}

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}

    </div>
  </div>
</div>

{% endpaginate %}

{% style %}
/* New development css scripts */
.account-title {
  margin-bottom: 44px;
}
.account-sub-header {
  position: relative;
  margin-bottom: 30px;
}

.account-sub-header::after {
  position: absolute;
  top: 35px;
  left: 0;
  content: "";
  width: 581px;
  height: 1px;
  background-color: #2B2725;
}
.np-h1, .np-h2, .np-h3, .np-h4 {
  font-family: 'Silvana';
  font-weight: 400;
  color: #2B2725;
}
.np-h1 {
  font-size: 100px;
  line-height: 105px;
  letter-spacing: -0.03em;
}
.np-h2 {
  font-size: 70px;
  line-height: 75px;
  letter-spacing: -0.01em;
}
.np-h3 {
  font-size: 26px;
  line-height: 36px;
  letter-spacing: -0.01em;
}
.np-h4 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.01em;
}
.np-h1-italic, .np-h2-italic, .np-h3-italic, .np-h4-italic {
  font-style: italic;
}
.np-h5, .np-h6, .np-h7, .np-h8, .np-h9, .np-h10 {
  font-family: 'Intervogue';
  font-weight: 400;
  color: #2B2725;
}
.np-h5 {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
.np-h6 {
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.04em;
}
.np-h7 {
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.02em;
}
.np-h8 {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.04em;
}
.np-h9 {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
}
.np-h10 {
  font-size: 12.5px;
  line-height: 21px;
  letter-spacing: 0.05em;
}
.np-h6, .np-h8, .np-h9, .np-h10 {
  text-transform: uppercase;
}
{% endstyle %}
