<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
   <!-- Anti-flicker snippet (recommended) -->
<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',5000,
{'GTM-NF96C7R':true});</script>
  <!--Start Multiple Google Shopping Feeds verification-->
  <meta name="google-site-verification" content="KThcwsrP75-pwPLSZz4GPf8IXIQGQmFM64bu8RSuDSQ" />
  <!--End Multiple Google Shopping Feeds verification-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="format-detection" content="telephone=no">
  <style>
    /* Custom NP Loader  */
    body:not(.np-fully-loaded) {
      height: 0 !important;
      overflow: hidden;
    }
    /* Custom NP Loader End */
    body {
    	opacity: 0; 
    }
   .np-custom-text{
    font-size: 14px !important;
    text-align: center;
    color: #818181;
    }
     .np_custom_price {
  	display: flex;
  }  
  .np_custom_price .np-sale_price {
  	width: 65%;
	text-align: left;
  }
  .np_custom_price .np-regular_price {
  	width: 35%;
	text-align: right;
  }
    @media screen and (min-width: 769px){
    	.np_custom_price {
      	padding: 0 30px;
      	font-size: 15px !important;
      }
    
    }
  </style>
 
  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {% include 'seo-title' %}
 	<title>{{ seo_title }}</title>

  {%- if page_description -%}
  {%- comment smartseo_integration_begin_meta_data -%}<meta name="description" content="{{ page_description | escape }}">{%- endcomment smartseo_integration_end_meta_data -%}
  {%- endif -%}

  {% include 'social-meta-tags' %}

  {% include 'font-face' %}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
{% include 'kiwiSizing' %}
  {% style %}
    .collection-item__title {
      font-size: {{ settings.type_collection_size | times: 0.8 }}px;
    }

    @media screen and (min-width: 769px) {
      .collection-item__title {
        font-size: {{ settings.type_collection_size }}px;
      }
    }
  {% endstyle %}
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.strings = {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
      savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }}
    };
    theme.settings = {
      dynamicVariantsEnable: true,
      dynamicVariantType: {{ settings.variant_type | json }},
      cartType: {{ settings.cart_type | json }},
      currenciesEnabled: {{ settings.enable_currencies | json }},
      nativeMultiCurrency: {{ shop.enabled_currencies.size }} > 1 ? true : false,
      moneyFormat: {{ shop.money_format | json }},
      saveType: {{ settings.product_save_type | json }},
      recentlyViewedEnabled: false,
      predictiveSearch: {{ settings.predictive_search_enabled }},
      predictiveSearchType: {{ settings.search_type | json }},
      inventoryThreshold: {{ settings.inventory_threshold }},
      quickView: {{ settings.quick_shop_enable }},
      themeName: 'Impulse',
      themeVersion: "2.5.1"
    };
  </script>

  {{ content_for_header }}

  <script src="{{ 'vendor-scripts-v5.js' | asset_url | split: '?' | first }}" defer="defer"></script>

  {% if settings.enable_currencies %}
    {% unless shop.enabled_currencies.size > 1 %}
      <script src="/services/javascripts/currencies.js" defer="defer"></script>
      <script src="{{ 'currencies.jquery.min.js' | asset_url | split: '?' | first }}" defer="defer"></script>
    {% endunless %}
    <link rel="stylesheet" href="{{ 'currency-flags.css' | asset_url }}">
  {% endif %}

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}
 <script>


  (function atPollForjQuery() {
    if (window.jQuery !== undefined) {
      var $ = window.jQuery;
      $(document).ready(function() {
        
          setTimeout(function() {
              $('body').addClass("np-fully-loaded");
            }, 500);
        
      });
    } else {
      setTimeout(atPollForjQuery, 25);
    }
  })();
  </script>
 <!-- Google Webmaster Tools Site Verification -->
<meta name="google-site-verification" content="KThcwsrP75-pwPLSZz4GPf8IXIQGQmFM64bu8RSuDSQ" />
 
</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if settings.enable_currencies %} currencies-enabled{% endif %}" data-transitions="false">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7HNHTJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<script
  async
  src="https://eu-library.klarnaservices.com/lib.js"
  data-client-id="fbebe721-aaf0-5658-bc85-e20bcf4951cd"
></script>
  <!--  loader div -->
  <div class="np-loader"></div>
  <!--  loader div end -->
  {% comment %}
    Enable below script if page transitions enabled
  {% endcomment %}
  {% comment %}
  <script type="text/javascript">window.setTimeout(function() { document.body.className += " loaded"; }, 25);</script>
  {% endcomment %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

    {% section 'header' %}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
      </main>

      {% section 'footer-promotions' %}
      {% section 'global-newsletter' %}
      {% section 'footer' %}

    </div>
  </div>

  {% section 'newsletter-popup' %}

  {%- if settings.cart_type == 'drawer' -%}
    {%- include 'ajax-cart-template' -%}
  {%- endif -%}

  {%- if settings.enable_currencies -%}
    {%- include 'currency-modal' -%}
  {%- endif -%}

  {% comment %}
    Custom markup for slider arrows using theme icons
  {% endcomment %}
  <div class="hide">
    <button id="prevArrowTemplate" class="slick-prev" aria-label="{{ 'general.pagination.previous' | t }}" type="button">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98"><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"/></svg>
      <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
    </button>
    <button id="nextArrowTemplate" class="slick-next" aria-label="{{ 'general.pagination.next' | t }}" type="button">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"/></svg>
      <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
    </button>
  </div>

  {%- if settings.predictive_search_enabled -%}
    {%- include 'predictive-template' -%}
  {%- endif -%}

  {% include 'video-modal' %}
  {% include 'photoswipe-template' %}
  {% if template contains 'product' %}
    {% include 'recently-viewed-product-template' %}
  {% endif %}

   <script>
    (function atPollForjQueryCountry() {
    if (window.jQuery !== undefined) {
      var $ = window.jQuery;
        $.getJSON('https://get.geojs.io/v1/ip/country.json', function(data) {
          if(data.country === "US"){
                var isUsdSelected = sessionStorage.getItem('isUsdSelected') || false;
                if(!isUsdSelected) {
                    sessionStorage.setItem('isUsdSelected', 'true');
                   if(document.querySelectorAll('.modal__inner .currency-options__btn') && document.querySelector('.currency-options__btn.is-active').getAttribute('data-value') != 'USD' && !document.querySelector('.switched-to-USD')) {
                     document.querySelector('body').style.opacity = '0';
                     document.querySelectorAll('.modal__inner .currency-options__btn')[9].click();
                        
                    }
                    else {
                        setTimeout(function () {
                            document.querySelector('body').classList.add('switched-to-USD');
                            document.querySelectorAll('.announcement-bar .announcement-text')[1].textContent = 'FREE SHIPPING FOR OVER $200 ORDER';
                            document.querySelectorAll('.announcement-bar .announcement-text')[3].textContent = 'FREE SHIPPING FOR OVER $200 ORDER';
                            document.querySelector('body').style.opacity = '1';
                        }, 10);
                    }
                }
                else {
                    setTimeout(function () {
                        document.querySelector('body').classList.add('switched-to-USD');
                        document.querySelectorAll('.announcement-bar .announcement-text')[1].textContent = 'FREE SHIPPING FOR OVER $200 ORDER';
                        document.querySelectorAll('.announcement-bar .announcement-text')[3].textContent = 'FREE SHIPPING FOR OVER $200 ORDER';
                        document.querySelector('body').style.opacity = '1';
                    }, 10);
                }

            }
          else if(data.country === "ES" || data.country === "DE" || data.country === "IT" || data.country === "FR" || data.country === "NL" || data.country === "IE" || data.country === "PO" || data.country === "CH" || data.country === "AT" || data.country === "PT"){
              
            var isEuroSelected = sessionStorage.getItem('isEuroSelected') || false;
                if (!isEuroSelected) {
                  sessionStorage.setItem('isEuroSelected', 'true');
                  if (document.querySelectorAll('.modal__inner .currency-options__btn') && document.querySelector('.currency-options__btn.is-active').getAttribute('data-value') != 'EUR' && !document.querySelector('.switched-to-EUR')) {
                    document.querySelectorAll('.modal__inner .currency-options__btn')[2].click();
                    
                  } else {
                    setTimeout(function () {
                      document.querySelector("body").style.opacity = "1";
                      document.querySelector('body').classList.add('switched-to-EUR');
                      if (document.querySelectorAll('.announcement-bar .announcement-text')[1]) {
                        document.querySelectorAll('.announcement-bar .announcement-text')[1].innerHTML = 'FREE SHIPPING FOR OVER €200 ORDER';
                      }
                      if (document.querySelectorAll('.announcement-bar .announcement-text')[3]) {
                        document.querySelectorAll('.announcement-bar .announcement-text')[3].innerHTML = 'FREE SHIPPING FOR OVER €200 ORDER';
                      }
                      
                    }, 10);
                  }
                } else {
                  setTimeout(function () {
                    document.querySelector("body").style.opacity = "1";
                    document.querySelector('body').classList.add('switched-to-EUR');
                    if (document.querySelectorAll('.announcement-bar .announcement-text')[1]) {
                        document.querySelectorAll('.announcement-bar .announcement-text')[1].innerHTML = 'FREE SHIPPING FOR OVER €200 ORDER';
                      }
                      if (document.querySelectorAll('.announcement-bar .announcement-text')[3]) {
                        document.querySelectorAll('.announcement-bar .announcement-text')[3].innerHTML = 'FREE SHIPPING FOR OVER €200 ORDER';
                      }
                    
                  }, 10);
                }

          
          }
   else if(data.country === "AU"){
                var isUsdSelected = sessionStorage.getItem('isAudSelected') || false;
                if(!isUsdSelected) {
                    sessionStorage.setItem('isAudSelected', 'true');
                    //document.querySelectorAll('.announcement-bar .announcement-text')[1].textContent = 'FREE SHIPPING FOR OVER $100 ORDER';
                   if(document.querySelectorAll('.modal__inner .currency-options__btn') && document.querySelector('.currency-options__btn.is-active').getAttribute('data-value') != 'AUD' && !document.querySelector('.switched-to-AUD')) {
                        document.querySelectorAll('.modal__inner .currency-options__btn')[0].click();
                        
                    }
                    else {
                        setTimeout(function () {
                            document.querySelector('body').classList.add('switched-to-AUD');
                            document.querySelector('body').style.opacity = '1';
                        }, 10);
                    }
                }
                else {
                    setTimeout(function () {
                        document.querySelector('body').classList.add('switched-to-AUD');
                        document.querySelector('body').style.opacity = '1';
                    }, 10);
                }

            }
          else if(data.country === "CA"){
                var isUsdSelected = sessionStorage.getItem('isCADSelected') || false;
                if(!isUsdSelected) {
                    sessionStorage.setItem('isCADSelected', 'true');
                    //document.querySelectorAll('.announcement-bar .announcement-text')[1].textContent = 'FREE SHIPPING FOR OVER $100 ORDER';
                   if(document.querySelectorAll('.modal__inner .currency-options__btn') && document.querySelector('.currency-options__btn.is-active').getAttribute('data-value') != 'CAD' && !document.querySelector('.switched-to-CAD')) {
                        document.querySelectorAll('.modal__inner .currency-options__btn')[1].click();
                        
                    }
                    else {
                        setTimeout(function () {
                            document.querySelector('body').classList.add('switched-to-CAD');
                            document.querySelector('body').style.opacity = '1';
                        }, 10);
                    }
                }
                else {
                    setTimeout(function () {
                        document.querySelector('body').classList.add('switched-to-CAD');
                        document.querySelector('body').style.opacity = '1';
                    }, 10);
                }

            }
          else if(data.country === "HK"){
                var isUsdSelected = sessionStorage.getItem('isHKDSelected') || false;
                if(!isUsdSelected) {
                    sessionStorage.setItem('isHKDSelected', 'true');
                    //document.querySelectorAll('.announcement-bar .announcement-text')[1].textContent = 'FREE SHIPPING FOR OVER $100 ORDER';
                   if(document.querySelectorAll('.modal__inner .currency-options__btn') && document.querySelector('.currency-options__btn.is-active').getAttribute('data-value') != 'HKD' && !document.querySelector('.switched-to-HKD')) {
                        document.querySelectorAll('.modal__inner .currency-options__btn')[4].click();
                        
                    }
                    else {
                        setTimeout(function () {
                            document.querySelector('body').classList.add('switched-to-HKD');
                            document.querySelector('body').style.opacity = '1';
                        }, 10);
                    }
                }
                else {
                    setTimeout(function () {
                        document.querySelector('body').classList.add('switched-to-HKD');
                        document.querySelector('body').style.opacity = '1';
                    }, 10);
                }

            }
          else if(data.country === "JP"){
                var isUsdSelected = sessionStorage.getItem('isJpnSelected') || false;
                if(!isUsdSelected) {
                    sessionStorage.setItem('isJpnSelected', 'true');
                    //document.querySelectorAll('.announcement-bar .announcement-text')[1].textContent = 'FREE SHIPPING FOR OVER $100 ORDER';
                   if(document.querySelectorAll('.modal__inner .currency-options__btn') && document.querySelector('.currency-options__btn.is-active').getAttribute('data-value') != 'JPY' && !document.querySelector('.switched-to-JPY')) {
                        document.querySelectorAll('.modal__inner .currency-options__btn')[5].click();
                        
                    }
                    else {
                        setTimeout(function () {
                            document.querySelector('body').classList.add('switched-to-JPY');
                            document.querySelector('body').style.opacity = '1';
                        }, 10);
                    }
                }
                else {
                    setTimeout(function () {
                        document.querySelector('body').classList.add('switched-to-JPY');
                        document.querySelector('body').style.opacity = '1';
                    }, 10);
                }

            }
          else if(data.country === "KR"){
                var isUsdSelected = sessionStorage.getItem('isKrwSelected') || false;
                if(!isUsdSelected) {
                    sessionStorage.setItem('isKrwSelected', 'true');
                    //document.querySelectorAll('.announcement-bar .announcement-text')[1].textContent = 'FREE SHIPPING FOR OVER $100 ORDER';
                   if(document.querySelectorAll('.modal__inner .currency-options__btn') && document.querySelector('.currency-options__btn.is-active').getAttribute('data-value') != 'KRW' && !document.querySelector('.switched-to-KRW')) {
                        document.querySelectorAll('.modal__inner .currency-options__btn')[6].click();
                        
                    }
                    else {
                        setTimeout(function () {
                            document.querySelector('body').classList.add('switched-to-KRW');
                            document.querySelector('body').style.opacity = '1';
                        }, 10);
                    }
                }
                else {
                    setTimeout(function () {
                        document.querySelector('body').classList.add('switched-to-KRW');
                        document.querySelector('body').style.opacity = '1';
                    }, 10);
                }

            }
          else if(data.country === "NZ"){
                var isUsdSelected = sessionStorage.getItem('isNzwSelected') || false;
                if(!isUsdSelected) {
                    sessionStorage.setItem('isNzwSelected', 'true');
                    //document.querySelectorAll('.announcement-bar .announcement-text')[1].textContent = 'FREE SHIPPING FOR OVER $100 ORDER';
                   if(document.querySelectorAll('.modal__inner .currency-options__btn') && document.querySelector('.currency-options__btn.is-active').getAttribute('data-value') != 'NZW' && !document.querySelector('.switched-to-NZW')) {
                        document.querySelectorAll('.modal__inner .currency-options__btn')[7].click();
                        
                    }
                    else {
                        setTimeout(function () {
                            document.querySelector('body').classList.add('switched-to-NZW');
                            document.querySelector('body').style.opacity = '1';
                        }, 10);
                    }
                }
                else {
                    setTimeout(function () {
                        document.querySelector('body').classList.add('switched-to-NZW');
                        document.querySelector('body').style.opacity = '1';
                    }, 10);
                }

            }
          else if(data.country === "SG"){
                var isUsdSelected = sessionStorage.getItem('isSgdSelected') || false;
                if(!isUsdSelected) {
                    sessionStorage.setItem('isSgdSelected', 'true');
                    //document.querySelectorAll('.announcement-bar .announcement-text')[1].textContent = 'FREE SHIPPING FOR OVER $100 ORDER';
                   if(document.querySelectorAll('.modal__inner .currency-options__btn') && document.querySelector('.currency-options__btn.is-active').getAttribute('data-value') != 'SGD' && !document.querySelector('.switched-to-SGD')) {
                        document.querySelectorAll('.modal__inner .currency-options__btn')[8].click();
                        
                    }
                    else {
                        setTimeout(function () {
                            document.querySelector('body').classList.add('switched-to-SGD');
                            document.querySelector('body').style.opacity = '1';
                        }, 10);
                    }
                }
                else {
                    setTimeout(function () {
                        document.querySelector('body').classList.add('switched-to-SGD');
                        document.querySelector('body').style.opacity = '1';
                    }, 10);
                }

            }
          
          else {
          	setTimeout(function () {
                document.querySelector('body').style.opacity = '1';
            }, 10); 
          }
        });
		
      setTimeout(function() {
              $('body').addClass("np-fully-loaded");
            }, 2000);
    } else {
      setTimeout(atPollForjQueryCountry, 25);
    }
    })();
  </script>


{% include 'swymSnippet' %}

</body>
</html>


<!-- Begin Shopify-Clearpay JavaScript Snippet (v1.0.10) -->
{% if cart.currency.iso_code == shop.currency %}
<script type="text/javascript">
// Overrides:
var clearpay_min = 0.04;            // As per your Clearpay contract.
var clearpay_max = 1000.00;          // As per your Clearpay contract.
	var clearpay_logo_theme = 'black'; // Can be 'colour', 'black' or 'white'.
  var clearpay_modal_open_icon = true;
  var clearpay_product_css = {
'font-size': '15px'
};
 var clearpay_show_currency_code = false;

var clearpay_product_selector = '.np-clearpay_product__price';
// var clearpay_cart_integration_enabled = true;
// var clearpay_cart_static_selector = '#cart-subtotal-selector';

// Non-editable fields:
var clearpay_shop_currency = {{ shop.currency | json }};
var clearpay_cart_currency = {{ cart.currency.iso_code | json }};
var clearpay_shop_money_format = {{ shop.money_format | json }};
var clearpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
var clearpay_theme_name = {{ theme.name | json }};
var clearpay_product = {{ product | json }};
var clearpay_current_variant = {{ product.selected_or_first_available_variant | json }};
var clearpay_cart_total_price = {{ cart.total_price | json }};
var clearpay_js_snippet_version = '1.0.10';
</script>
<script type="text/javascript" src="https://static.afterpay.com/shopify-clearpay-javascript.js"></script>
{% else %}
<!-- Clearpay disabled: {{ cart.currency.iso_code }} != {{ shop.currency }} -->
{% endif %}
<!-- End Shopify-Clearpay JavaScript Snippet (v1.0.10) -->

<style>
  .clearpay-link-inner {
  	font-size: 15px !important;
  }
  .clearpay-paragraph {
  	display: none !important;
  }
</style>