{% if section.blocks.size > 0 %}
<div class="grid grid--uniform">
  {% if section.settings.title != blank %}
  <h2 class="section-header__title">{{ section.settings.title | escape }}</h2>
  {% endif %}
  {% for block in section.blocks %}
  	 {%- assign collection_image = block.settings.image -%}
  		{%- assign background_position = 'center center' -%}
  {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <div class="grid__item small--one-half medium-up--one-quarter">
        <a href="{{ block.settings.link }}" class="collection-item collection-item--overlaid aos-init aos-animate 404-collection-link" data-aos="row-of-4">
          <div class="image-wrap">
              <div class="collection-image collection-image--portrait lazyloaded" 
                   data-bgset="{% include 'bgset', image: collection_image %}"
                data-sizes="auto"
                style="background-position: {{ background_position }}; background-image: url({{ collection_image | img_url: '400x' }});">
                <picture style="display: none;">
                  <source data-srcset=" //cdn.shopify.com/s/files/1/0283/1338/7053/collections/newknits_180x.jpg?v=1603811006 180w 270h, //cdn.shopify.com/s/files/1/0283/1338/7053/collections/newknits_360x.jpg?v=1603811006 360w 540h, //cdn.shopify.com/s/files/1/0283/1338/7053/collections/newknits_540x.jpg?v=1603811006 540w 811h, //cdn.shopify.com/s/files/1/0283/1338/7053/collections/newknits_720x.jpg?v=1603811006 720w 1081h, " sizes="180px" srcset=" //cdn.shopify.com/s/files/1/0283/1338/7053/collections/newknits_180x.jpg?v=1603811006 180w 270h, //cdn.shopify.com/s/files/1/0283/1338/7053/collections/newknits_360x.jpg?v=1603811006 360w 540h, //cdn.shopify.com/s/files/1/0283/1338/7053/collections/newknits_540x.jpg?v=1603811006 540w 811h, //cdn.shopify.com/s/files/1/0283/1338/7053/collections/newknits_720x.jpg?v=1603811006 720w 1081h, ">
                  <img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="180px">
                </picture>
                
              </div>
            </div>
            <noscript>
              <div
                class="collection-image collection-image--portrait"
                style="background-image: url({{ collection_image | img_url: '400x' }}); background-position: {{ background_position }}; width:auto; height:auto">
              </div>
            </noscript>
          <span class="collection-item__title collection-item__title--overlaid collection-item__title--body collection-item__title--center">
            <span>
              {{ block.settings.title }}
            </span>
          </span>

        </a>
    </div>
 {% endfor %}
</div>
{% endif %}
{% schema %}
  {
    "name": "404 Collection list 2",
    "class": "index404-section-2",
    "max_blocks": 4,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "collection_block",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
		 {
            "type": "text",
            "id": "title",
            "label": "Collection Title",
            "info": "Optional"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection_block"
          },
          {
            "type": "collection_block"
          },
          {
            "type": "collection_block"
          },
          {
            "type": "collection_block"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
.collection-item__title span {
    background-color: #fff;
    color: #000;
    padding: 5px;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
