
<div class="grid__item ">
  <a href="{{ collection.url }}" class="collection-item collection-item--{{ settings.collection_grid_style }}" data-aos="row-of-{{ per_row }}">

    {%- if settings.collection_grid_image == 'collection' and collection.image -%}
      {%- assign collection_image = collection.image -%}
    {%- else -%}
      {%- assign collection_image = collection.products.first.featured_image -%}
    {%- endif -%}

    {%- if collection.empty? -%}
      {% capture placeholder %}collection-{% cycle 1,2,3,4,5,6 %}{% endcapture %}
      <div class="collection-image collection-image--{{ settings.collection_grid_shape }} collection-image--placeholder">{{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}</div>
    {%- else -%}
      <div class="image-wrap">
        <div
          class="collection-image collection-image--{{ settings.collection_grid_shape }} lazyload"
          data-bgset="{% include 'bgset', image: collection_image %}"
          data-sizes="auto"
          style="background-position: {{ background_position }}; width:auto; height:auto">
        </div>
      </div>
      <noscript>
        <div
          class="collection-image collection-image--{{ settings.collection_grid_shape }}"
          style="background-image: url({{ collection_image | img_url: '400x' }}); background-position: {{ background_position }}; width:auto; height:auto">
        </div>
      </noscript>
    {%- endif -%}

    <span
      class="collection-item__title collection-item__title--{{ settings.collection_grid_style }} collection-item__title--{{ settings.type_collection_font }} collection-item__title--{{ settings.collection_grid_text_align }}">
      <span>
        {{ title_output }}
      </span>
    </span>

  </a>
</div>

{% schema %}
 {
    "name": "Custom Collection list",
    "class": "index-section",
    "max_blocks": 10,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "collection_block",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
		 {
            "type": "text",
            "id": "title",
            "label": "Collection Title",
            "info": "Optional"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection_block"
          },
          {
            "type": "collection_block"
          },
          {
            "type": "collection_block"
          },
          {
            "type": "collection_block"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
