<section id="collection-wrapper-{{ section.id }}">
    <div class="container-{{ section.id }}">
        {% paginate collections by section.settings.number-of-categories %}
            {% for collection in collections %}
                <div class="collection-card-{{ section.id }}">
                    <img src="{{ collection.image | img_url: "master" }}">
                    <div>
                        <div class="collection-title-{{ section.id }}">{{ collection.title }}</div>
                        <div class="url-container-{{ section.id }}">
                            <a href="{{ collection.url }}" class="btn-{{ section.id }}">{{ section.settings.button-text }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endpaginate %}
    </div>
</section>

<style>
    #collection-wrapper-{{ section.id }} {
        display: flex;
        justify-content: center;
    }
    .container-{{ section.id }} {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 5px;
        width: {{ section.settings.container-width }}%;
    }
    .collection-card-{{ section.id }} {
        max-width: 668px;
        max-height: 850px;
    }
    .collection-title-{{ section.id }} {
        text-align: center;
    }
    .url-container-{{ section.id }} {
        text-align: center;
    }
    a.btn-{{ section.id }} {
        text-decoration: none;
        color: #2b2724;
        font-size: 14px;
        text-transform: uppercase;
        padding-bottom: 7px;
        border-bottom: 1px solid #2b2724;
    }
    {% if section.settings.design-pattern == 'style2' %}
        .collection-card-{{ section.id }} {
            position: relative;
        }
        .collection-title-{{ section.id }}, .url-container-{{ section.id }} {
            position: absolute;
        }
        .collection-title-{{ section.id }} {
            color: white;
            bottom: 50%;
            right: 50%;
        }
        .url-container-{{ section.id }}{
            bottom: 44%;
            right: 50%;
        } 
        a.btn-{{ section.id }} {
            color: white;
            border-bottom-color: white;
        }
    {% endif %}
</style>

{% schema %}
{
    "name": "Collections Double Item",
    "settings": [
        {
            "type": "select",
            "id": "design-pattern",
            "label": "Design Pattern",
            "options": [
              {
                "value": "style1",
                "label": "Style 1"
              },
              {
                "value": "style2",
                "label": "Style 2"
              }
            ],
            "default": "style1"
        },
        {
            "type": "range",
            "id": "number-of-categories",
            "label": "Number of Categories",
            "min": 1,
            "max": 4,
            "unit": "num",
            "step": 1,
            "default": 2

        },
        {
            "type": "range",
            "id": "container-width",
            "label": "Section Width",
            "min": 30,
            "max": 100,
            "unit": "%",
            "step": 1,
            "default": 100
        },
        {
            "type": "text",
            "id": "button-text",
            "label": "Button Text",
            "default": "Shop Now"
        }
    ],
    "presets": [
        {
            "name": "Collections Double Item"
        }
    ]
}
{% endschema %}