<section id="collection-wrapper-{{ section.id }}">
    <div class="container-{{ section.id }}">
        {% paginate collections by section.settings.number-of-categories %}
            {% for collection in collections %}
                {% if collection.handle == "ready-to-wear" %}
                    {% for product_type in collection.all_types %}
                        {{ product_type | link_to_type }}
                    {% endfor %}
                    {% comment %} <a href="{{ collection.url }}" class="collection-card-{{ section.id }}">
                        <img src="{{ collection.image | img_url: "master" }}">
                        <div class="collection-title-{{ section.id }}">{{ collection.title }}</div>

                    </a> {% endcomment %}
                {% endif %}
            {% endfor %}
        {% endpaginate %}
    </div>
</section>

<style>
    #collection-wrapper-{{ section.id }} {
        display: flex;
        justify-content: center;
    }
    .container-{{ section.id }} {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        width: {{ section.settings.container-width }}%;
    }
    .collection-card-{{ section.id }} {
        max-width: 350px;
        max-height: 500px;
    }
    .collection-title-{{ section.id }} {
        text-align: center;
    }
</style>

{% schema %}
{
    "name": "Collections",
    "settings": [
        {
            "type": "range",
            "id": "number-of-categories",
            "label": "Number of Categories",
            "min": 1,
            "max": 4,
            "unit": "num",
            "step": 1,
            "default": 4

        },
        {
            "type": "range",
            "id": "container-width",
            "label": "Section Width",
            "min": 30,
            "max": 100,
            "unit": "%",
            "step": 1,
            "default": 100
        }
    ],
    "presets": [
        {
            "name": "Collections"
        }
    ]
}
{% endschema %}