{% style %}
.logo-bar--{{ section.id }} {
  opacity: {{ section.settings.logo_opacity | divided_by: 100.0 }};
}
{% endstyle %}

{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div class="page-width" data-aos="logo__animation">
  {% if section.settings.title != blank %}
    <div class="section-header">
      <h2 class="section-header__title">{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="logo-bar">
      {% for block in section.blocks %}
        <div class="collection__item" {{ block.shopify_attributes }}>
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}" class="logo-bar__link">
          {% endif %}
          {% if block.settings.image != blank %}
           {% comment %}   
            {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {% endcomment %}
              <img class="logo-bar__image"
                src="{{ block.settings.image | img_url: 'master' }}"
                alt="{{ block.settings.image.alt }}">
    
              {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            
          {% endif %}
          {% if block.settings.link != blank %}
            </a>
          {% endif %}
          <a href="{{ block.settings.link }}">{{ block.settings.title }}</a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% if section.settings.divider %}</div>{% endif %}

{% schema %}
  {
    "name": "Custom Collection list",
    "class": "index-section",
    "max_blocks": 10,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "collection_block",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
		 {
            "type": "text",
            "id": "title",
            "label": "Collection Title",
            "info": "Optional"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection_block"
          },
          {
            "type": "collection_block"
          },
          {
            "type": "collection_block"
          },
          {
            "type": "collection_block"
          }
        ]
      }
    ]
  }
{% endschema %}

<style>
 @media only screen and (max-width: 768px) {
   .collection__item {
    -ms-flex: 0 1 240px;
    flex: 0 1 240px;
    margin: 0 10px 30px;
	}
  
  }  
  
  @media only screen and (min-width: 769px) and (max-width: 1039px) {
	.collection__item {
    flex: 0 45%;
    margin: 0 15px 30px;
	}    
  
  }    

/*   @media only screen and (min-width: 1040px) and (max-width: 1239px) {
   .collection__item {
    -ms-flex: 0 1 220px;
    flex: 0 1 220px;
    margin: 0 10px 30px;
	}
  
  } */
  @media only screen and (min-width: 1040px) {
    .collection__item {
    flex: 0 21%;
    margin: 0 13px 30px;
	}  
  }
  
  .collection__item a:last-child {
    font-weight: 700;
    color: #1b1b1b;
    border-bottom: 1px solid #000;
    margin-top: 7px;
    display: inline-block;
}

</style>  