{%- liquid
  assign show_selectors = false
  assign currency_selector = false
  assign locale_selector = false

  if section.settings.show_currency_selector and shop.enabled_currencies.size > 1
    assign currency_selector = true
  endif

  if section.settings.show_locale_selector and shop.enabled_locales.size > 1
    assign locale_selector = true
  endif

  if currency_selector or locale_selector
    assign show_selectors = true
  endif
-%}

<footer class="site-footer new-site-footer" data-section-id="{{ section.id }}" data-section-type="footer-section">
<!--   {%- for currency in shop.enabled_currencies  -%}
              {%- assign supported_codes = supported_codes | append: currency.iso_code | append: ' ' -%}
                {{ currency.iso_code }}
            {%- endfor -%} -->

  <div class="page-width">

    <div class="grid footer-padding">
      {%- assign row_width = 0 -%}
      {%- for block in section.blocks -%}
        {%- assign row_width = row_width | plus: block.settings.container_width -%}
        {%- if row_width > 100 -%}
          <div class="footer__clear small--hide"></div>
          {%- assign row_width = row_width | minus: 100 -%}
        {%- endif -%}

        <div {{ block.shopify_attributes }} class="grid__item footer__item--{{ block.id }}" data-type="{{ block.type }}">
          {%- style -%}
            @media only screen and (min-width: 769px) and(max-width: 959px) {
              .footer__item--{{ block.id }}{
                width: 50%;
                padding-top: 40px;
              }
              .footer__item--{{ block.id }}:nth-child(2n + 1) {
                clear: left;
              }
            }
            @media only screen and (min-width: 960px) {
              .footer__item--{{ block.id }}{
                width: {{ block.settings.container_width }}%;
              }

            }
          {%- endstyle -%}

          {%- liquid
      case block.type

      when 'custom'
      render 'footer-custom-text', block: block
      when 'newsletter'
      render 'footer-newsletter', block: block
      when 'cookies'
      render 'np-cookies', block: block

      endcase
      -%}
        </div>
      {%- endfor -%}
<!--       {%- for block in section.blocks -%}
        {%- if block.type == 'logo_social' -%}
          <div class="grid__item medium-up--hide">
            {%- render 'footer-logo', block: block -%}
          </div>
        {%- endif -%}
      {%- endfor -%} -->

    </div>
    {%- for block in section.blocks -%}
      {%- if block.type == 'logo_social' -%}
        <div class="new-logo-footer">
          {%- render 'footer-logo', block: block -%}
        </div>
      {%- endif -%}
    {%- endfor -%}


    
    {% comment %}   

     {% if shop.enabled_currencies %}
       
          {% include 'currency-picker', picker_id: 'header', currency_class: 'currency-picker--toolbar' %}
       
      {% endif %} 
 {% endcomment %} 


    {%- if section.settings.show_payment_icons -%}
      {%- unless shop.enabled_payment_types == empty -%}
        <ul class="inline-list payment-icons footer__section">
          {%- for type in shop.enabled_payment_types -%}
            <li class="icon--payment">
              {{ type | payment_type_svg_tag }}
            </li>
          {%- endfor -%}
        </ul>
      {%- endunless -%}
    {%- endif -%}


    {%- if section.settings.show_copyright -%}
      <p class="footer__small-text">
        &copy; {{ 'now' | date: '%Y' }} {{ shop.name }}
        {%- if section.settings.copyright_text != blank -%}
          {{ section.settings.copyright_text }}
        {%- endif -%}
      </p>
    {%- endif -%}
    {%- comment -%}
      <p class="footer__small-text">{{ powered_by_link }}</p>
    {%- endcomment -%}

      <div class="footer-wrapper">
        <div>
          <!-- <a class="footer-links localization-selector">UK / GBP (£)</a> -->
<span class="footer-links currency-selector-toggler">
            {{ localization.country.iso_code }} / {{ localization.country.currency.iso_code }} ( {{ localization.country.currency.symbol }})
          </span>
              
        </div>
     
        
        {%- for block in section.blocks -%}
          {% if block.type == 'menu' %}
            {% if block.settings.menu == 'footer-menu-new-web-development' %}
              {%- for link in linklists[block.settings.menu].links -%}
                <a class="footer-links" href="{{ link.url }}">{{ link.title }}</a>
                <br/>
              {%- endfor -%}
            {% endif %}
          {% endif %}
        {%- endfor -%}
        <div class="social-links">
          {%- if settings.social_instagram_link != blank -%}
            <a href="{{ settings.social_instagram_link }}">
              <svg
                width="19"
                height="19"
                viewBox="0 0 19 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect
                  x="0.625"
                  y="0.625"
                  width="17.75"
                  height="17.75"
                  rx="4.375"
                  stroke="#2B2725"
                  stroke-width="1.25" />
                <circle
                  cx="9.5"
                  cy="9.5"
                  r="4.5"
                  stroke="#2B2725"
                  stroke-width="1.25" />
                <circle
                  cx="15.25"
                  cy="4.25"
                  r="1.25"
                  fill="#2B2725" />
              </svg>
            </a>
          {% endif %}

          {%- if settings.social_facebook_link != blank -%}
            <a href="{{ settings.social_facebook_link }}">
              <svg
                width="9"
                height="19"
                viewBox="0 0 9 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M8.62163 6.27727L8.40519 9.12076H5.54481V19H1.92768V9.12076H0V6.27727H1.92768V4.37314C1.92768 3.53215 1.95259 2.23417 2.55052 1.42809C3.18426 0.577585 4.05 0 5.54481 0C7.97543 0 9 0.355437 9 0.355437L8.52042 3.26716C8.01272 3.12403 7.48988 3.04411 6.96332 3.02915C6.21747 3.02915 5.54481 3.30207 5.54481 4.07007V6.29155L8.62163 6.27727Z" fill="#2B2725" />
              </svg>
            </a>
          {% endif %}
        </div>
      </div>

      <div class="footer-wrapper-mobile">
        <div class="footer-menu-items-mobile">
          {%- for block in section.blocks -%}
            {% if block.type == 'menu' %}
              {% if block.settings.menu == 'footer-menu-new-web-development' %}
                {%- for link in linklists[block.settings.menu].links -%}
                  <a class="footer-links-mobile" href="{{ link.url }}">{{ link.title }}</a>
                  
                {%- endfor -%}
              {% endif %}
            {% endif %}
          {%- endfor -%}
<!--           <a class="footer-links-mobile">UK / GBP (£)</a> -->
<span class="footer-links currency-selector-toggler">
            {{ localization.country.iso_code }} / {{ localization.country.currency.iso_code }} ( {{ localization.country.currency.symbol }})
          </span>
          <br>
          <div class="social-links-mobile">
            {%- if settings.social_instagram_link != blank -%}
              <a href="{{ settings.social_instagram_link }}">
                <svg
                  width="29"
                  height="29"
                  viewBox="0 0 19 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <rect
                    x="0.625"
                    y="0.625"
                    width="17.75"
                    height="17.75"
                    rx="4.375"
                    stroke="#2B2725"
                    stroke-width="1.25" />
                  <circle
                    cx="9.5"
                    cy="9.5"
                    r="4.5"
                    stroke="#2B2725"
                    stroke-width="1.25" />
                  <circle
                    cx="15.25"
                    cy="4.25"
                    r="1.25"
                    fill="#2B2725" />
                </svg>
              </a>
            {% endif %}
  
            {%- if settings.social_facebook_link != blank -%}
              <a href="{{ settings.social_facebook_link }}">
                <svg
                  width="29"
                  height="29"
                  viewBox="0 0 9 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.62163 6.27727L8.40519 9.12076H5.54481V19H1.92768V9.12076H0V6.27727H1.92768V4.37314C1.92768 3.53215 1.95259 2.23417 2.55052 1.42809C3.18426 0.577585 4.05 0 5.54481 0C7.97543 0 9 0.355437 9 0.355437L8.52042 3.26716C8.01272 3.12403 7.48988 3.04411 6.96332 3.02915C6.21747 3.02915 5.54481 3.30207 5.54481 4.07007V6.29155L8.62163 6.27727Z" fill="#2B2725" />
                </svg>
              </a>
            {% endif %}
          </div>
        </div>
        <div class="logo-block-mobile">
          {%- for block in section.blocks -%}
            {%- if block.type == 'logo_social' -%}
              <div class="new-logo-footer-mobile">
                {%- render 'footer-logo', block: block -%}
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>

<!--     <div class="footer-wrapper">
      <div class="left-menu-list">
{% comment %}         <a class="footer-links" href="">ABOUT NINETY PERCENT</a>
        <a class="footer-links" href="">CONTACT</a>
        <a class="footer-links" href="">SIZE GUIDE</a>
        <a class="footer-links" href="">GARMENT CARE</a> {% endcomment %}
        {%- for block in section.blocks -%}
           {% if block.type == 'menu'  %}
             {% if block.settings.menu == 'new-dev-footer-about' %}
                {%- for link in linklists[block.settings.menu].links -%}
                    <a class="footer-links" href="{{ link.url }}">{{ link.title }}</a>
                {%- endfor -%}
             {% endif %}
           {% endif  %}
        {%- endfor -%} 
 
      </div>
      <div class="mobile-menu">
        {%- for block in section.blocks -%}
           {% if block.type == 'menu'  %}
             {% if block.settings.menu == 'new-dev-footer-about' %}
                {%- for link in linklists[block.settings.menu].links -%}
                    <a class="footer-links" href="{{ link.url }}">{{ link.title }}</a>
                    <br/>
                {%- endfor -%}
             {% endif %}
           {% endif  %}
        {%- endfor -%}
        {%- for block in section.blocks -%}
           {% if block.type == 'menu'  %}
             {% if block.settings.menu == 'new-dev-footer-shipping' %}
                {%- for link in linklists[block.settings.menu].links -%}
                    <a class="footer-links" href="{{ link.url }}">{{ link.title }}</a>
                    <br/>
                {%- endfor -%}
             {% endif %}
           {% endif  %}
        {%- endfor -%}
      </div>
      {%- for block in section.blocks -%}
        {%- if block.type == 'logo_social' -%}
          <div class="grid__item new-logo-footer">
            {%- render 'footer-logo', block: block -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
{% comment %}       <div class="icon-wrapper">
        <svg width="36" height="78" viewBox="0 0 36 78" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M27.9774 42.6671C32.0396 35.9151 34.7783 27.968 34.7783 20.164C34.7885 6.19015 26.7251 0 18.4581 0C8.81674 0 1.069 7.84495 1.069 18.0495C1.069 27.6412 8.52149 34.0663 16.1267 34.0663C23.7319 34.0663 28.1606 28.632 30.2681 25.4552C29.6674 30.6239 28.2217 36.242 25.7986 41.4924C23.5995 40.4914 21.095 39.9602 18.3563 39.9602C7.75792 39.9602 0 48.0196 0 58.7962C0 69.5728 8.04299 78 18.3563 78C28.6697 78 36 69.869 36 58.7962C36 51.7685 33.0068 45.895 27.9774 42.6671ZM17.9287 31.8701C10.0181 31.8701 5.43665 26.4358 5.43665 16.8339C5.43665 7.23206 11.0057 1.5935 17.3179 1.5935C24.3224 1.5935 30.5633 9.59167 30.5633 20.164C30.5633 21.0731 30.5633 22.0537 30.4921 23.0343C28.5271 26.1294 24.3937 31.8701 17.9186 31.8701H17.9287ZM18.3563 41.094C20.8405 41.0736 23.1007 41.7886 25.0351 43.0655C24.6686 43.7907 24.2817 44.5058 23.8744 45.2106C20.6878 50.7266 16.2998 55.3232 10.7104 58.3979C9.57014 59.0312 8.37896 59.5419 7.19796 60.0833C6.95362 60.1957 4.20475 61.3193 4.21493 61.3499C4.06222 60.2672 3.99095 59.164 3.99095 58.0097C3.99095 48.5202 9.68213 41.1655 18.3563 41.094ZM18.3563 76.9274C11.4027 76.9274 5.72172 70.7169 4.32692 62.1569C5.86425 61.7279 7.32014 60.9618 8.77602 60.3284C10.4152 59.6134 12.0034 58.786 13.5305 57.8565C18.957 54.5571 23.3552 49.7766 26.8371 44.4853C30.0645 47.56 32.0294 52.4324 32.0294 57.9995C32.0294 68.6331 26.4095 76.9172 18.3665 76.9172L18.3563 76.9274Z" fill="#2B2725"/>
        </svg>
      </div> {% endcomment %}
      <div class="right-menu-list">
        <div class="social-links">
          {%- if settings.social_instagram_link != blank -%}
            <a class="footer-social-link" href="{{ settings.social_instagram_link }}">
              <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.625" y="0.625" width="17.75" height="17.75" rx="4.375" stroke="#2B2725" stroke-width="1.25"/>
                <circle cx="9.5" cy="9.5" r="4.5" stroke="#2B2725" stroke-width="1.25"/>
                <circle cx="15.25" cy="4.25" r="1.25" fill="#2B2725"/>
              </svg>
            </a>
          {% endif %}

          {%- if settings.social_facebook_link != blank -%}
            <a class="footer-social-link" href="{{ settings.social_facebook_link }}">
              <svg width="9" height="19" viewBox="0 0 9 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.62163 6.27727L8.40519 9.12076H5.54481V19H1.92768V9.12076H0V6.27727H1.92768V4.37314C1.92768 3.53215 1.95259 2.23417 2.55052 1.42809C3.18426 0.577585 4.05 0 5.54481 0C7.97543 0 9 0.355437 9 0.355437L8.52042 3.26716C8.01272 3.12403 7.48988 3.04411 6.96332 3.02915C6.21747 3.02915 5.54481 3.30207 5.54481 4.07007V6.29155L8.62163 6.27727Z" fill="#2B2725"/>
              </svg>
            </a>
          {% endif %}
        </div>
        <div class="">
          <a class="footer-links" href="">      

         </a>
        {%- for block in section.blocks -%}
           {% if block.type == 'menu'  %}
             {% if block.settings.menu == 'new-dev-footer-shipping' %}
                {%- for link in linklists[block.settings.menu].links -%}
                    <a class="footer-links" href="{{ link.url }}">{{ link.title }}</a>
                {%- endfor -%}
             {% endif %}
           {% endif  %}
        {%- endfor -%} 
        </div>

      </div> -->
    </div>

   <div class="footer-links np-currency-selector">

                    {%- render 'multi-selectors'
                    , locale_selector: locale_selector
                    , currency_selector: currency_selector
                    , show_currency_flags: section.settings.show_currency_flags
                    location: 'footer'
                    -%}
      </div>
  </div>
</footer>


            
  
  {% schema %}
  {
    "name": "t:sections.footer.name",
    "max_blocks": 12,
    "settings": [
      {
        "type": "header",
        "content": "t:sections.footer.settings.header_language_selector",
        "info": "t:sections.footer.settings.header_language_selector"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "t:sections.footer.settings.show_locale_selector.label",
        "default": true
      },
      {
        "type": "header",
        "content": "t:sections.footer.settings.header_currency_selector",
        "info": "t:sections.footer.settings.header_currency_selector"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "t:sections.footer.settings.show_currency_selector.label",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_currency_flags",
        "label": "t:sections.footer.settings.show_currency_flags.label",
        "default": true
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header_additional_footer_content"
      }, {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "t:sections.footer.settings.show_payment_icons.label",
        "default": false
      }, {
        "type": "checkbox",
        "id": "show_copyright",
        "label": "t:sections.footer.settings.show_copyright.label"
      }, {
        "type": "text",
        "id": "copyright_text",
        "label": "t:sections.footer.settings.copyright_text.label"
      }
    ],
    "blocks": [
      {
        "type": "logo_social",
        "name": "t:sections.footer.blocks.logo.name",
        "limit": 2,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "t:sections.footer.blocks.logo.settings.logo.label"
          }, {
            "type": "range",
            "id": "desktop_logo_height",
            "label": "t:sections.footer.blocks.logo.settings.desktop_logo_height.label",
            "default": 50,
            "min": 20,
            "max": 120,
            "unit": "px"
          }, {
            "type": "range",
            "id": "container_width",
            "label": "t:sections.footer.blocks.logo.settings.container_width.label",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      }, {
        "type": "menu",
        "name": "t:sections.footer.blocks.navigation.name",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "t:sections.footer.blocks.navigation.settings.show_footer_title.label"
          }, {
            "type": "link_list",
            "id": "menu",
            "label": "t:sections.footer.blocks.navigation.settings.menu.label",
            "default": "footer",
            "info": "t:sections.footer.blocks.navigation.settings.menu.info"
          }, {
            "type": "range",
            "id": "container_width",
            "label": "t:sections.footer.blocks.navigation.settings.container_width.label",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "t:sections.footer.blocks.newsletter_and_social.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "t:sections.footer.blocks.newsletter_and_social.settings.show_footer_title.label",
            "default": true
          },
          {
            "type": "paragraph",
            "content": "t:sections.footer.blocks.newsletter_and_social.settings.content"
          },
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.footer.blocks.newsletter_and_social.settings.title.label",
            "default": "Sign up and save"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "t:sections.footer.blocks.newsletter_and_social.settings.text.label",
            "info": "t:sections.footer.blocks.newsletter_and_social.settings.text.info",
            "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
          }, {
            "type": "range",
            "id": "container_width",
            "label": "t:sections.footer.blocks.newsletter_and_social.settings.container_width.label",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      }, {
        "type": "custom",
        "name": "t:sections.footer.blocks.custom_text.name",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "t:sections.footer.blocks.custom_text.settings.show_footer_title.label",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.footer.blocks.custom_text.settings.title.label",
            "default": "Custom text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.footer.blocks.custom_text.settings.image.label"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "t:sections.footer.blocks.custom_text.settings.text.label",
            "default": "<p>Add your own custom text here.</p>"
          }, {
            "type": "range",
            "id": "container_width",
            "label": "t:sections.footer.blocks.custom_text.settings.container_width.label",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },{
        "type": "cookies",
        "name": "Cookies",
        "settings":[{
    "type":"textarea",
    "label":"Cookies Text",
    "id":"cookiesText",
    "default":"This site uses cookies and similar technologies for its operation and for the provision of the services. We use analytical cookies (our own and from third parties) to understand and improve the user’s browsing experience, and profiling cookies (our own and third party) to send you advertisements in line with your preferences when surfing the web. To modify or opt-out of the use of some or all cookies, go to “Cookie Settings” or consult our Cookie Policy to find out more. By clicking on “Accept all cookies” you consent to the use of these cookies. By clicking “Allow technical cookies only”, you give your consent to the use of technical cookies only."
    },
  {
    "type":"text",
    "label":"Cookies All Text",
    "id":"cookiesAllText",
    "default":"accept all cookies"    },
    {
    "type":"text",
    "label":"Cookies Necessary Text",
    "id":"cookiesNecessaryText",
    "default":"accept only necessary cookies"}]
      }
    ],
    "default": {
      "settings": {},
      "blocks": [
        {
          "type": "menu",
          "settings": {}
        }, {
          "type": "logo_social",
          "settings": {}
        }
        
      ]
    }
  }
{% endschema %}


<style>
  .mobile-menu{
    display: none;
  }
  .new-logo-footer{
    width: 6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
  }
  .social-links {
    text-align: right;
    padding-top: 7px;
  }
  .social-links-mobile{
    text-align: right;
    display: contents
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19px;
  }
  .footer-links {
{% comment %}     padding: 0 35px 0 0; {% endcomment %}
    text-transform: uppercase;
  }
  .social-links a{
    padding-left: 10px;
  }
  .footer-links:last-child {
    padding-right: 0;
  }
  .footer-wrapper-mobile{
    text-align: left;
    display: none;
  }
  .new-logo-footer-mobile{

  }
  .footer-links-mobile{
    display: block;
    text-transform: uppercase;
    padding-bottom: 1em;
  }
  .logo-block-mobile{
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 50px;
  }
  .footer-menu-items-mobile{
    padding-bottom: 60px;

  }
  .localization-selector{
    padding-right: 15px;
    padding-left: 15px;
  }
.np-currency-selector {
  display: none; /* Hidden by default */

  position: fixed; /* Stay in place */
  z-index: 999999999999999; /* Sit on top */
  padding-top: 10%; /* Location of the box */
  left: 0;

  top: 0;

    
    padding-right: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: visible; /* Enable scroll if needed */
 
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  .disclosure-list {
    position: relative;
    max-height: 450px;
box-shadow: none;
  }
  .close-currency-selector {
background-color: white;
width: 100%;
    display: inline-block;
    padding-left: 90%;
    padding-top: 1%;
cursor: pointer;
  }
.currency-selector-toggler {
   color: #2B2527;
    
    font-family: Intervogue;
    font-style: normal;
    font-size: 12.5px;
    line-height: 21px;
cursor: pointer;
}
   
  @media only screen and (max-width: 514px){

      .mobile-menu{
        display: block;
        text-align:left;
       }
      .left-menu-list{
        display: none;
      }
      .right-menu-list{
        display: none;
      }
  }
  @media only screen and (max-width: 900px){
        .new-logo-footer{
      display: none;
    }
    .footer__logo{
      
    }
    .footer-wrapper{
      display: none;
    }
    .footer-wrapper-mobile{
      display: flex;
      justify-content: space-between;
    }
  }

  @media (max-width: 768px){
    .footer-menu-items-mobile .footer-links-mobile{
      font-family: 'Intervogue';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #000000;
    }

  .grid.footer-padding{
    margin:0;
  }
  }
  
  @media only screen and (min-width: 500px) and (max-width:768px){
    .sign-up-newsletter-title{
      text-align: center !important;
    }
  }
</style>