{% style %}
  .newsletter-{{ section.id }} {
    background-color: {{ section.settings.color_background }};
    color: {{ section.settings.color_text }};
  }

  .newsletter-{{ section.id }} .newsletter__input::-webkit-input-placeholder { color: {{ section.settings.color_text }}; }
  .newsletter-{{ section.id }} .newsletter__input::-moz-placeholder { color: {{ section.settings.color_text }}; }
  .newsletter-{{ section.id }} .newsletter__input::-ms-input-placeholder { color: {{ section.settings.color_text }}; }
{% endstyle %}

{% if section.settings.global_newsletter_enable == true %}
  <div class="newsletter-section newsletter-{{ section.id }}{% if section.settings.color_background == settings.color_body_bg %} newsletter-section--with-divider{% endif %}">
    <div class="page-width text-center">
      {% if section.settings.title != blank %}
        <p class="h3">{{ section.settings.title | escape }}</p>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte">{{ section.settings.text }}</div>
      {% endif %}

      {% include 'global-newsletter-form', section_id: section.id, snippet_context: 'section' %}
    </div>
  </div>
  <style>
      .newsletter-section {
          padding: 30px 0;
      }
      .newsletter-section .page-width > p {
          font-size: 30px;  
          font-weight: 600;
          margin: 0 0 20px;
          text-transform: none;
      }
      .newsletter-section .page-width .rte {
          margin-bottom: 20px;
      }
      .newsletter-section .page-width .rte > p {
          margin: 0;
        	text-align: center;
      }
      .input-group-field.newsletter__input {
          border: 1px solid black;
          margin-right: 20px;
      }
      .input-group-field.newsletter__input::placeholder {
          color: #737373;
      }
      .newsletter__input-group .input-group-btn .btn {
          text-transform: none;
          letter-spacing: normal;
          font-size: 16px;
      }
      @media only screen and (min-width: 769px) {
          .newsletter__input-group .input-group-btn .btn {
              font-size: 16px;
          }
      }
      @media only screen and (min-width: 769px) {
        .newsletter-section {
            padding: 30px 0;
        }
        .newsletter-section .page-width .rte {
            margin-bottom: 20px;
        }
      }
  </style>
{% endif %}
{% schema %}
  {
    "name": "Global newsletter",
    "settings": [
      {
        "type": "checkbox",
        "id": "global_newsletter_enable",
        "label": "Enable Global Newsletter",
		"default": true,
		"info": "Check to show newsletter accross all pages"
      },
	  {
        "type": "paragraph",
        "content": "Customers who subscribe will have their email address added to the 'accepts marketing' [customer list](/admin/customers?query=&accepts_marketing=1)."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Sign up and save"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Subheading",
        "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
      },
      {
        "type": "color",
        "id": "color_background",
        "label": "Background",
        "default": "#f9f9f9"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#1c1d1d"
      }
    ],
    "presets": [
      {
        "name": "Newsletter",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}
