
<div id="custom-instageam">
  {% if section.settings.heading != blank %}
  <h2>{{ section.settings.heading | escape }}</h2>
  {% endif %}
  	
		<section class="np-home-insta-galery">
          {% if section.blocks.size > 0 %}
          	{% for block in section.blocks %}
            <div class="insta-galery-column">
                <div class="insta-block">
                  {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <a href="{{ block.settings.cta-link }}">  <img alt="{{ block.settings.image.alt }}" class="lazyload" data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080]" data-sizes="auto" width="auto" height="auto"> </a>
                  <a href="{{ block.settings.cta-link }}"> {{ block.settings.title }}</a> 
               </div>
            </div>
         {% endfor %}
        
      {% endif %}
        </section> 
</div>

{% schema %}
  {
    "name": "Custom Instagram Section",
    "class": "instagram-custom",
    "max_blocks": 6,
    "settings": [
		{
            "type": "text",
            "id": "heading",
            "label": "Section Headinge"
        }
		],
    "blocks": [
      {
        "type": "instagram_block",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
              "type": "text",
              "id": "title",
              "label": "Image One Title",
              "default": "@isdfeerfese"
          },
          {
              "type": "url",
              "id": "cta-link",
              "label": "Image One CTA link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Instagram Gallery",
        "category": "Social media",
        "blocks": [
          {
            "type": "instagram_block"
          },
          {
            "type": "instagram_block"
          },
          {
            "type": "instagram_block"
          },
          {
            "type": "instagram_block"
          }
        ]
      }
    ]
  }
{% endschema %}

<style>
  #custom-instageam h2 {
    text-align: center;
    text-transform: none;
    margin-bottom: 25px;
}
  #custom-instageam .insta-block {
    text-align: center;
}
.insta-block a:last-child {
    font-weight: 700;
    color: #1b1b1b;
    border-bottom: 1px solid #000;
    display: inline-block;
    margin-top: 7px;
}

@media (min-width: 769px) {  
  .np-home-insta-galery {
  	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  
  } 
  .insta-galery-column {
    webkit-flex-direction: column;
    flex-direction: column;
    width: 50%;
	}
  
}  
@media (max-width: 769px) {
  .insta-galery-column {
      position: relative;
      margin-bottom: 25px;
  } 
  .insta-galery-column img {
  	width: 100%;
  }
}

</style>  