<section id="wrapper-{{ section.id }}">
    {% for collection in collections %}
        {% if collection.all_products_count > 0 %}
            {% paginate collection.products by  section.settings.products-per-page %}
                <div class="product-collection-{{ section.id }}">
                    {% for product in collection.products %}
                        <a href="{{ product.url }}" class="product-container-{{ product.id }}">
                            <div class="image-container-{{ product.id }}">
                                {% if product.images.size > 0 %}
                                    <ul class="image-list-{{ product.id }}">
                                        {% for image in product.images %}
                                            {% if forloop.index == 1 %}
                                                <li class="image-item-{{ product.id }} active"><img src="{{ image | img_url: 'master' }}"></li>
                                            {% else %}    
                                                <li class="image-item-{{ product.id }}"><img src="{{ image | img_url: 'master' }}"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <i class="arrow-{{ product.id }} left-{{ product.id }}"></i>
                                    <i class="arrow-{{ product.id }} right-{{ product.id }}"></i>
                                {% else %}
                                    {{ 'product-1' | placeholder_svg_tag }}
                                {% endif %}
                            </div>
                            <div class="product-info-{{ product.id }}">
                                <div class="title-vendor-{{ product.id }}">
                                    <div class="title-{{ product.id }}">
                                        {{ product.title }}
                                    </div>
                                    <div class="vendor-{{ product.id }}">
                                        {{ product.vendor }}
                                    </div>
                                </div>
                                <div class="price-{{ product.id }}">
                                    {{ product.price | money }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="pagination-{{ section.id }}">
                    {% for part in paginate.parts %}
                        {% if part.is_link %}
                            <span class="page-number-{{ section.id }}">{{ part.title | link_to: part.url }}</span>
                        {% else %}
                            <span class="current-page-{{ section.id }} page-number-{{ section.id }}">{{ part.title }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="pagination-mobile-{{ section.id }}">
                    {% if paginate.current_page > 1 %}
                        <a href="{{ paginate.previous.url }}" class="paginate-previous-{{ section.id }}">
                            <i class="arrow-{{ section.id }} left-{{ section.id }}"></i>
                            <span class="pagination-text-previous-{{ section.id }}">Previous</span>
                        </a>
                    {% else %}
                        <div></div>
                    {% endif %}

                    {% if paginate.current_page != paginate.pages %}
                        <a href="{{ paginate.next.url }}" class="paginate-next-{{ section.id }}">
                            <span class="pagination-text-next-{{ section.id }}">Next</span> <i class="arrow-{{ section.id }} right-{{ section.id }}"></i>
                        </a>
                    {% endif %}
                </div>
            {% endpaginate %}
        {% endif %}
    {% endfor %}
    
</section>

{% schema %}
    {
        "name": "Collection All",
        "settings": [
            {
                "type": "range",
                "id": "products-per-page",
                "unit": "num",
                "min": 6,
                "max": 50,
                "default": 18,
                "step": 1,
                "label": "Products Per Page"
            }
        ]
    }
{% endschema %}

<style>
    #wrapper-{{ section.id }} {
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0 10px;
    }
    .pagination-{{ section.id }}{
        position: absolute;
        bottom: 0;
    }
    .pagination-mobile-{{ section.id }} {
        position: absolute;
        bottom: -50px;
        display: none;
        margin-top: 15px;
    }
    .product-collection-{{ section.id }} {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 5px;
        max-width: 1500px;
    }
    .current-page-{{ section.id }} {
        background-color: black;
        color: white;
        border: 1px solid black;
        padding: 5px 9px;
        border-radius: 100%;
    }
    .paginate-previous-{{ section.id }}, .paginate-next-{{ section.id }} {
        position: relative;
        text-transform: uppercase;
        font-size: 20px;
        padding: 20px;
    }
    .page-number-{{ section.id }} {
        margin: 0 5px;
    }
    .arrow-{{ section.id }} {
        border: solid black;
        border-width: 0 1px 1px 0;
        padding: 8px;
        cursor: pointer;
        position: absolute;
    }
    .left-{{ section.id }} {
        transform: rotate(135deg);
        top: 25px;
    }
    .right-{{ section.id }} {
        transform: rotate(-45deg);
        top: 25px;
        right: 20px;
    }
    .pagination-text-previous-{{ section.id }} {
        padding-left: 30px;
    }
    .pagination-text-next-{{ section.id }} {
        padding-right: 30px;
    }
    {% for collection in collections %}
        {% if collection.all_products_count > 0 %}
            {% for product in collection.products %}
                .product-container-{{ product.id }} {
                    width: 33%;
                    margin-bottom: 100px;
                }
                .product-container-{{ product.id }} img {
                    width: 100%
                }
                .product-info-{{ product.id }} {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 10px;
                }
                .title-{{ product.id }} {
                    text-transform: uppercase;
                }
                .image-container-{{ product.id }} {
                    position: relative;
                }
                .image-list-{{ product.id }} {
                    list-style: none;
                    position: relative;
                    overflow: hidden;
                    margin: 0;
                }
                .image-item-{{ product.id }} {
                    position: absolute;
                    left: 50000px;
                }
                .image-item-{{ product.id }}.active {
                    position: relative;
                    top: 0;
                    left: 0;
                }
                .arrow-{{ product.id }} {
                    border: solid black;
                    border-width: 0 1px 1px 0;
                    display: none;
                    padding: 12px;
                    transition: ease-in-out;
                    cursor: pointer;
                    z-index: 100000;
                }
                .left-{{ product.id }} {
                    position: absolute;
                    transform: rotate(135deg);
                    top: 45%;
                    left: 15px;
                }
                .right-{{ product.id }} {
                    position: absolute;
                    transform: rotate(-45deg);
                    top: 45%;
                    right: 15px;
                }
                .left-{{ product.id }}.disabled, .right-{{ product.id }}.disabled {
                    border-color: #dddddd;
                    cursor: none;
                }
                .show-arrow-{{ product.id }} {
                    display: inline-block;
                }
                @media (max-width: 1024px) {
                    .product-container-{{ product.id }} {
                        width: 49.5%;
                        margin-bottom: 70px;
                    }
                }
                @media (max-width: 769px){
                    #wrapper-{{ section.id }} {
                        margin: 0;
                    }
                    .product-container-{{ product.id }} {
                        margin-bottom: 40px;
                    }
                    .vendor-{{ product.id }} {
                        display: none;
                    }
                    .product-info-{{ product.id }} {
                        flex-direction: column;
                        padding: 0 10px;
                    }
                    .pagination-{{ section.id }} {
                        display: none;
                    }
                    .pagination-mobile-{{ section.id }} {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }
                }
                @media (max-width: 499px) {
                    .product-collection-{{ section.id }} {
                        gap: 2px;
                    }
                    .product-container-{{ product.id }} {
                        width: 49.70%;
                    }
                    .product-info-{{ product.id }} {
                        font-size: 12px;
                    }
                    .paginate-previous-{{ section.id }}, .paginate-next-{{ section.id }} {
                        font-size: 16px;
                    }
                    .left-{{ section.id }}, .right-{{ section.id }} {
                        top: 22px;
                    }
                }
            {% endfor %}
        {% endif %}
    {% endfor %}
</style>

<script>
    // function to find index of active class
    function findActvieIndex(productId){
        var images = document.querySelectorAll(`.image-item-${productId}`)
        var index;
        for (var i=0; i < images.length; i++){
            if( images[i].classList.contains("active")){
                index = i
                break
            }
        }
        return {index: index, images: images}
    }
    // function for hiding cursor when images are not available
    function hideCursor(productId, index, imageList, event){
        var increaseBy = 1
        var leftIcon = document.querySelector(`.left-${productId}`)
        var rightIcon = document.querySelector(`.right-${productId}`)

        // checking if the event is not a click event
        if (event.type != "click"){
            if (index+1 == imageList.length){
                rightIcon.classList.add("disabled")
                leftIcon.classList.remove("disabled")
            }
            if (index == 0){
                leftIcon.classList.add("disabled")
                rightIcon.classList.remove("disabled")
            }
        }
        // checking if the event is an click event
        else if(event.type == "click"){
            if (event.target.classList.contains(`right-${productId}`)){
                var diff = imageList.length - index
                if (diff <= 2){
                    rightIcon.classList.add("disabled")
                }
                leftIcon.classList.remove("disabled")
            }
            else if (event.target.classList.contains(`left-${productId}`)){
                if (index <= 1){
                    leftIcon.classList.add("disabled")
                }
                rightIcon.classList.remove("disabled")
            }
        }
    }
    // function for changing class
    function changeNextImage(productId, e) {
        var data = findActvieIndex(productId)
        var index = data.index
        var images = data.images

        if (images[index + 1] !== undefined){
            images[index].classList.remove("active")
            images[index+1].classList.add("active")
        }
        hideCursor(productId, index, images, e)
    }
    function changePreviousImage(productId, e) {
        var data = findActvieIndex(productId)
        var index = data.index
        var images = data.images

        if (images[index - 1] !== undefined){
            images[index].classList.remove("active")
            images[index-1].classList.add("active")
        }
        hideCursor(productId, index, images, e)
    }
    // event for showing icons
    {% for collection in collections %}
        {% if collection.all_products_count > 0 %}
            {% for product in collection.products %}
                // hover effect for mouseover
                document.querySelector(".image-container-{{ product.id }}").addEventListener("mouseover", (e)=>{
                    var arrowLeft = document.querySelector(".left-{{ product.id }}")
                    var arrowRight = document.querySelector(".right-{{ product.id }}")

                    arrowLeft.classList.add("show-arrow-{{ product.id }}")
                    arrowRight.classList.add("show-arrow-{{ product.id }}")

                    var data = findActvieIndex({{ product.id }})
                    hideCursor({{ product.id }}, data.index, data.images, e)
                })
                // hover effect for mouseleave
                document.querySelector(".image-container-{{ product.id }}").addEventListener("mouseleave", (e)=>{
                    var arrowLeft = document.querySelector(".left-{{ product.id }}")
                    var arrowRight = document.querySelector(".right-{{ product.id }}")

                    arrowLeft.classList.remove("show-arrow-{{ product.id }}")
                    arrowRight.classList.remove("show-arrow-{{ product.id }}")

                    var data = findActvieIndex({{ product.id }})
                    hideCursor({{ product.id }}, data.index, data.images, e)
                })

                // slider button changing to right
                document.querySelectorAll(".right-{{ product.id }}").forEach(arrow=>{
                    arrow.addEventListener('click', (e)=>{
                        changeNextImage({{ product.id }}, e)
                    })
                })

                // slider button changing to previous
                document.querySelectorAll(".left-{{ product.id }}").forEach(arrow=>{
                    arrow.addEventListener('click', (e)=>{
                        changePreviousImage({{ product.id }}, e)
                    })
                })
            {% endfor %}
        {% endif %}
    {% endfor %}
</script>