<section id="wrapper-{{ section.id }}">
    {% for collection in collections %}
        {% if collection.all_products_count > 0 %}
            {% paginate collection.products by 4 %}
                <div class="product-collection-{{ section.id }}">
                    {% for product in collection.products %}
                        <div class="product-container-{{ product.id }}">
                            <div class="image-container-{{ product.id }}">
                                {% if product.images.size > 0 %}
                                    <ul class="image-list-{{ product.id }}">
                                        {% for image in product.images %}
                                            {% if forloop.index == 1 %}
                                                <li class="image-item-{{ product.id }} active"><img src="{{ image | img_url: 'master' }}"></li>
                                            {% else %}    
                                                <li class="image-item-{{ product.id }}"><img src="{{ image | img_url: 'master' }}"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <i class="arrow-{{ product.id }} left-{{ product.id }}"></i>
                                    <i class="arrow-{{ product.id }} right-{{ product.id }}"></i>
                                {% else %}
                                    {{ 'product-1' | placeholder_svg_tag }}
                                {% endif %}
                            </div>
                            <div class="product-info-{{ product.id }}">
                                <div class="title-vendor-{{ product.id }}">
                                    <div class="title-{{ product.id }}">
                                        {{ product.title }}
                                    </div>
                                    <div class="vendor-{{ product.id }}">
                                        {{ product.vendor }}
                                    </div>
                                </div>
                                <div class="price-{{ product.id }}">
                                    {{ product.price | money }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="pagination-{{ section.id }}">
                    {% for part in paginate.parts %}
                        {% if part.is_link %}
                            {{ part.title | link_to: part.url }}
                        {% else %}
                            <span class="current-page-{{ section.id }}">{{ part.title }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endpaginate %}
        {% endif %}
    {% endfor %}
    
</section>

<style>
    #wrapper-{{ section.id }} {
        display: flex;
        justify-content: center;
        position: relative;
    }
    .pagination-{{ section.id }}{
        position: absolute;
        bottom: 0;
    }
    .product-collection-{{ section.id }} {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 5px;
        max-width: 1500px;
    }
    .current-page-{{ section.id }} {
        background-color: black;
        color: white;
        border: 1px solid black;
        padding: 5px 9px;
        border-radius: 100%;
    }
    {% for collection in collections %}
        {% if collection.all_products_count > 0 %}
            {% for product in collection.products %}
                .product-container-{{ product.id }} {
                    margin-bottom: 100px;
                }
                .product-container-{{ product.id }} img {
                    max-width: 465px;
                    max-height: 610px;
                }
                .product-info-{{ product.id }} {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 10px;
                }
                .image-container-{{ product.id }} {
                    position: relative;
                }
                .image-list-{{ product.id }} {
                    list-style: none;
                    position: relative;
                    overflow: hidden;
                    margin: 0;
                }
                .image-item-{{ product.id }} {
                    position: absolute;
                    left: 50000px;
                }
                .image-item-{{ product.id }}.active {
                    position: relative;
                    top: 0;
                    left: 0;
                }
                .arrow-{{ product.id }} {
                    border: solid black;
                    border-width: 0 1px 1px 0;
                    display: none;
                    padding: 12px;
                    transition: ease-in-out;
                    cursor: pointer;
                }
                .left-{{ product.id }} {
                    position: absolute;
                    transform: rotate(135deg);
                    top: 45%;
                    left: 15px;
                }
                .right-{{ product.id }} {
                    position: absolute;
                    transform: rotate(-45deg);
                    top: 45%;
                    right: 15px;
                }
                .left-{{ product.id }}.disabled, .right-{{ product.id }}.disabled {
                    border-color: #dddddd;
                    cursor: none;
                }
                .show-arrow-{{ product.id }} {
                    display: inline-block;
                }
            {% endfor %}
        {% endif %}
    {% endfor %}
</style>

<script>
    // function to find index of active class
    function findActvieIndex(productId){
        var images = document.querySelectorAll(`.image-item-${productId}`)
        var index;
        for (var i=0; i < images.length; i++){
            if( images[i].classList.contains("active")){
                index = i
                break
            }
        }
        return {index: index, images: images}
    }
    // function for hiding cursor when images are not available
    function hideCursor(productId, index, imageList, event){
        var increaseBy = 1
        var leftIcon = document.querySelector(`.left-${productId}`)
        var rightIcon = document.querySelector(`.right-${productId}`)

        // checking if the event is not a click event
        if (event.type != "click"){
            if (index+1 == imageList.length){
                rightIcon.classList.add("disabled")
                leftIcon.classList.remove("disabled")
            }
            if (index == 0){
                leftIcon.classList.add("disabled")
                rightIcon.classList.remove("disabled")
            }
        }
        // checking if the event is an click event
        else if(event.type == "click"){
            if (event.target.classList.contains(`right-${productId}`)){
                var diff = imageList.length - index
                if (diff <= 2){
                    rightIcon.classList.add("disabled")
                }
                leftIcon.classList.remove("disabled")
            }
            else if (event.target.classList.contains(`left-${productId}`)){
                if (index <= 1){
                    leftIcon.classList.add("disabled")
                }
                rightIcon.classList.remove("disabled")
            }
        }
    }
    // function for changing class
    function changeNextImage(productId, e) {
        var data = findActvieIndex(productId)
        var index = data.index
        var images = data.images

        if (images[index + 1] !== undefined){
            images[index].classList.remove("active")
            images[index+1].classList.add("active")
        }
        hideCursor(productId, index, images, e)
    }
    function changePreviousImage(productId, e) {
        var data = findActvieIndex(productId)
        var index = data.index
        var images = data.images

        if (images[index - 1] !== undefined){
            images[index].classList.remove("active")
            images[index-1].classList.add("active")
        }
        hideCursor(productId, index, images, e)
    }
    // event for showing icons
    {% for collection in collections %}
        {% if collection.all_products_count > 0 %}
            {% for product in collection.products %}
                // hover effect for mouseover
                document.querySelector(".image-container-{{ product.id }}").addEventListener("mouseover", (e)=>{
                    var arrowLeft = document.querySelector(".left-{{ product.id }}")
                    var arrowRight = document.querySelector(".right-{{ product.id }}")

                    arrowLeft.classList.add("show-arrow-{{ product.id }}")
                    arrowRight.classList.add("show-arrow-{{ product.id }}")

                    var data = findActvieIndex({{ product.id }})
                    hideCursor({{ product.id }}, data.index, data.images, e)
                })
                // hover effect for mouseleave
                document.querySelector(".image-container-{{ product.id }}").addEventListener("mouseleave", (e)=>{
                    var arrowLeft = document.querySelector(".left-{{ product.id }}")
                    var arrowRight = document.querySelector(".right-{{ product.id }}")

                    arrowLeft.classList.remove("show-arrow-{{ product.id }}")
                    arrowRight.classList.remove("show-arrow-{{ product.id }}")

                    var data = findActvieIndex({{ product.id }})
                    hideCursor({{ product.id }}, data.index, data.images, e)
                })

                // slider button changing to right
                document.querySelectorAll(".right-{{ product.id }}").forEach(arrow=>{
                    arrow.addEventListener('click', (e)=>{
                        changeNextImage({{ product.id }}, e)
                    })
                })

                // slider button changing to previous
                document.querySelectorAll(".left-{{ product.id }}").forEach(arrow=>{
                    arrow.addEventListener('click', (e)=>{
                        changePreviousImage({{ product.id }}, e)
                    })
                })
            {% endfor %}
        {% endif %}
    {% endfor %}
</script>