{% for block in section.blocks %}
  {% case block.type %}
    {% when 'image-and-text-tile' %}
      <section class="block-parent-{{ block.id }} np-page-width">
        <div class="image-text-tile-container-{{ block.id }}">
          {% if block.settings['selected-layout'] == 'image-first' %}
            <div class="image-text-tile-image-container-{{ block.id }} item-{{ block.id }}">
              <img class="image-{{ block.id }}" src="{{ block.settings.image | img_url: 'master' }}">
            </div>
            <div class="image-text-tile-text-container-{{ block.id }} item-{{ block.id }}">
              <div class="text-container">
                <div class="title-{{ block.id }} np-h3">{{ block.settings.title }}</div>
                <div class="description-{{ block.id }}">{{ block.settings.text }}</div>
                <div class="redirect-button">
                  <a class="text-tile-btn-{{ block.id }}" href="{{ block.settings.button-url | url_encode }}">
                    {{ block.settings['button-label'] }}
                  </a>
                </div>
              </div>
            </div>
          {% else %}
            <div class="image-text-tile-text-container-{{ block.id }} item-{{ block.id }}">
              <div class="text-container">
                <div class="title-{{ block.id }} np-h3">{{ block.settings.title }}</div>
                <div class="description-{{ block.id }}">{{ block.settings.text }}</div>
                <div class="redirect-button">
                  <a class="text-tile-btn-{{ block.id }}" href="{{ block.settings.button-url | url_encode }}">
                    {{ block.settings['button-label'] }}
                  </a>
                </div>
              </div>
            </div>
            <div class="image-text-tile-image-container-{{ block.id }} item-{{ block.id }}">
              <img class="image-{{ block.id }}" src="{{ block.settings.image | img_url: 'master' }}">
            </div>
          {% endif %}
        </div>
      </section>
    {% when 'spacer' %}
      <section class="custom-spacer-{{ block.id }} image-text-spacer"></section>
  {% endcase %}
{% endfor %}

<style>
      .np-page-width {
          max-width: 1440px;
          margin: 0 auto;
      }

      @media (max-width: 768px) {
          .np-page-width {
              padding: 0 20px;
          }
      }
  {% for block in section.blocks %}
      {% case block.type %}
          {% when "image-and-text-tile" %}
              .block-parent-{{ block.id }}{
                  padding-left: {{ block.settings.padding-left-side }}px;
                  padding-right: {{ block.settings.padding-right-side }}px;
              }
              .block-parent-{{ block.id }} .image-text-tile-container-{{ block.id }} {
                  display: flex;
        justify-content:flex-start;
        gap:4%;
              }

            .text-container {
          max-width: 547px;
        width:100%;
      }

              .block-parent-{{ block.id }} .image-text-tile-text-container-{{ block.id }} {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  background-color: {{ block.settings.bg-color }};
                  width: 48%;
              }
              .block-parent-{{ block.id }} .image-text-tile-image-container-{{ block.id }} {
                  width: 48%;
              }
              .block-parent-{{ block.id }} .image-text-tile-image-container-{{ block.id }} .image-{{ block.id }}{
                  min-width: 80%;
              }
              .block-parent-{{ block.id }} .description-{{ block.id }} {
                  font-family: 'Intervogue';
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 28px;
                  text-align: justify;
                  letter-spacing: 0.02em;
                  color: #2B2725;
                  margin-bottom: 52px;
              }
              .block-parent-{{ block.id }} .title-{{ block.id }} {
                  padding-bottom: 50px;
              }
              .block-parent-{{ block.id }} .image-text-tile-text-container-{{ block.id }} p {
                  margin: 0;
              }
              .block-parent-{{ block.id }} .text-tile-btn-{{ block.id }} {
                  font-family: 'Intervogue';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12.5px;
                  line-height: 21px;
                  letter-spacing: 0.05em;
                  text-transform: uppercase;
                  color: #2B2725;
                  padding-bottom: 16px;
                  border-bottom: 0.75px solid #2B2725;
              }


              {% if block.settings.show-button == false %}
                  .block-parent-{{ block.id }} .text-tile-btn-{{ block.id }} {
                      display: none;
                  }
              {% endif %}

              {% if block.settings.make-image-larger == true %}
                  .block-parent-{{ block.id }} .image-text-tile-image-container-{{ block.id }} {
                      width: 65%;
                  }
                  .block-parent-{{ block.id }} .image-text-tile-text-container-{{ block.id }} {
                      width: 35%;
                  }

              {% endif %}
        
              @media (max-width: 1200px) {
                  .block-parent-{{ block.id }} {
        padding-left: calc({{ block.settings.padding-left-side }}px/2);
                  padding-right: calc({{ block.settings.padding-right-side }}px/2);
                  }
                
              }
              @media (max-width: 768px) {
                  .block-parent-{{ block.id }} .image-text-tile-container-{{ block.id }} {
                    flex-direction:column;
                  }
        .block-parent-{{ block.id }} {
                      padding: 0 20px;
                  }

                 .text-container {
          max-width: 100%;
        width:100%;
      }
        
                  .block-parent-{{ block.id }} .image-text-tile-text-container-{{ block.id }} {
                      order: 1;
                      align-items : flex-start;
                  }
                  .block-parent-{{ block.id }} .item-{{ block.id }} {
                      width: 100%;
                  }
                  .block-parent-{{ block.id }} .image-text-tile-image-container-{{ block.id }} {
                      order: 0;
                  }
                  .block-parent-{{ block.id }} .image-text-tile-image-container-{{ block.id }} .image-{{ block.id }}{
                      width:100%;
                  }
                  .block-parent-{{ block.id }} .description-{{ block.id }} {
                      font-size: 16px;
                  }
                .block-parent-{{ block.id }} .redirect-button{
                  margin:0 auto;
                  display:table;
                }

                .block-parent-{{ block.id }} .title-{{ block.id }}{
                  padding: 30px 0;
                }

                .block-parent-{{ block.id }} .text-tile-btn-{{ block.id }} {
                  padding: 16px;
                  border: 0.75px solid #2B2725;
              }
              }
          {% when 'spacer' %}
              .custom-spacer-{{ block.id }}.image-text-spacer{
                  height: {{ block.settings.spacer }}px;
              }
      {% endcase %}

  {% endfor %}
</style>

{% schema %}
{
    "name": "Home Single Image-Text",
    "blocks": [
        {
            "name": "Image and Text Tile",
            "type": "image-and-text-tile",
            "settings": [
                {
                    "type": "range",
                    "id": "padding-left-side",
                    "min": 0,
                    "max": 300,
                    "step": 5,
                    "unit": "px",
                    "default": 160,
                    "label": "Padding left Side"
                },
                {
                    "type": "range",
                    "id": "padding-right-side",
                    "min": 0,
                    "max": 300,
                    "step": 5,
                    "unit": "px",
                    "default": 40,
                    "label": "Padding Right Side"
                },
                {
                    "type": "select",
                    "id": "selected-layout",
                    "label": "Select Section Layout",
                    "default": "image-first",
                    "options": [
                        {
                            "value": "image-first",
                            "label": "Image First Layout"
                        },
                        {
                            "value": "text-first",
                            "label": "Text First Layout"
                        }
                    ]
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Select Image"
                },
                {
                    "type": "checkbox",
                    "id": "make-image-larger",
                    "default": false,
                    "label":  "Make Image Larger"
                },
                {
                    "type": "html",
                    "id": "title",
                    "label": "Add Title"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Add Description"
                },
                {
                    "type": "color",
                    "id": "bg-color",
                    "label": "Choose text background color",
                    "default": "#FFFFFF"
                },
                {
                    "type": "checkbox",
                    "id": "show-button",
                    "label": "Show Button",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "button-label",
                    "label": "Button Label",
                    "default": "Shop The Look"
                },
                {
                    "type": "url",
                    "id": "button-url",
                    "label": "Button URL"
                }
            ]
        },
        {
            "name": "Spacer",
            "type": "spacer",
            "settings": [
                {
                    "type": "range",
                    "id": "spacer",
                    "min": 0,
                    "max": 200,
                    "step": 5,
                    "unit": "px",
                    "default": 10,
                    "label": "Height"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Home Single Image-Text",
          "blocks":[
            {
              "type":"image-and-text-tile"
            },
            {
              "type":"spacer"
            }
          ]
        }
    ]
}
{% endschema %}
