{%- liquid
  assign grid_item_width = 'small--one-half medium-up--one-fifth'
  assign row_of = 5

  case section.settings.recent_count
    when 2
      assign grid_item_width = 'medium-up--one-half'
      assign row_of = 2
    when 3
      assign grid_item_width = 'small--one-half medium-up--one-third'
      assign row_of = 3
    when 4
      assign grid_item_width = 'small--one-half medium-up--one-quarter'
      assign row_of = 4
    when 6
      assign grid_item_width = 'small--one-half medium-up--one-sixth'
      assign row_of = 6
    when 8
      assign grid_item_width = 'small--one-half medium-up--one-quarter'
      assign row_of = 4
  endcase
-%}

<div
  data-subsection
  data-section-id="{{ section.id }}"
  data-section-type="recently-viewed"
  data-product-handle="{{ product.handle }}"
  data-recent-count="{{ section.settings.recent_count }}"
  data-grid-item-class="{{ grid_item_width }}"
  data-row-of="{{ row_of }}"
  class="recently-viewed-container"
  >
  <div class="index-section index-section--small">
    <div class="page-width">
      <header class="section-header">
        <h3 class="section-header__title np-h8">{{ 'products.general.recent_products' | t }}</h3>
      </header>
    </div>

    <div class="page-width page-width--flush-small">
      <div class="grid-overflow-wrapper">
        <div id="RecentlyViewed-{{ section.id }}" class="grid grid--uniform recently-viewed-grid" data-aos="overflow__animation"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.recently-viewed.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.recently-viewed.settings.content"
    },
    {
      "type": "range",
      "id": "recent_count",
      "label": "t:sections.recently-viewed.settings.recent_count.label",
      "default": 5,
      "min": 2,
      "max": 10,
      "step": 1
    }
  ]
}
{% endschema %}
<style>
  .recently-viewed-grid .custom-title {
    max-width: 230px;
  }
  @media (max-width: 1000px) {
    .recently-viewed-grid .custom-title {
      max-width: 100%;
    }
    .recently-viewed-grid .grid-product__meta{
      flex-direction: column;
    }
    .grid-product__price {
      text-align: left;
    }
  }
  .recently-viewed-grid .pdp-recently-viewed-price {
    margin-top: 0px;
  }
  @media (max-width: 768px) {
    .recently-viewed-grid .custom-title {
      max-width: 180px;
    }
  }
  .recently-viewed-grid .slick-track{
    display: flex;
  }
  .recently-viewed-grid .grid-product__meta{
    text-align: left;
    display: flex;
  }
  .recently-viewed-grid .grid-product__meta .grid-product__title{
    padding-right: 0px;
  }
  .recently-viewed-grid .grid-product__meta{
      display: flex;
      justify-content: space-between;
      padding-top: 6px;
      padding-bottom: 0px;
      padding-left: 10px;
      padding-right: 10px;
    }
  @media only screen and (max-width: 768px){
    .recently-viewed-grid .slick-track{
      display: block;
    }
     .recently-viewed-grid .grid-product__content:nth-child(1){
      margin-right: 4px;
    }
    .material-tag-pdp{
      display: none;
    }
    .recently-viewed-grid .grid-product__meta{
      display: flex;
      justify-content: space-between;
      padding-top: 6px;
      padding-bottom: 0px;
      padding-left: 10px;
      padding-right: 10px;
      flex-direction: column;
      padding-left: 4px;
    }
    .recently-viewed-grid .grid-product__meta .grid-product__title{
      padding-right: 0px;
      padding-bottom: 4px;
    }
/* .recently-viewed-grid .slick-track{
     margin-left: -16px;
    }*/
/* .recently-viewed-grid .slick-track .slick-active{
      width: 12rem !important;
    }*/
  }
</style>
