
<div class="page-width">
<section class="stocklist section-margin">
		<h1>Stockists{{ settings.page-title }}</h1>
			<div class="np-row">
              
              {% for block in section.blocks %}
                {% case block.type %}
                      {% when 'stock_box_column' %}
						 <div class="column" >
                            <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}">
                            <address>
                                {{ block.settings.stock-address }}
                            </address>
                           {% comment %}
                            <a href="{{ block.settings.cta-link }}">{{ block.settings.cta-label }}</a>
                           {% endcomment %}
                          </div>
                {% endcase %}
              {% endfor %}
			 
			  
			</div>
  <dv id="wolesale-form"></dv>
	</section>
	<section class="wholesale">
      {% for block in section.blocks %}
                {% case block.type %}
       {% when 'contact-form' %}
      		{% include 'page-stockist-contact-from' %}
        {% endcase %}
      {% endfor %}
			 
	</section>
</div>
{% schema %}
  {
    "name": "Stockists",
    "class": "np-stockist",
    "max_blocks": 20,
    "settings": [
			{
              "type": "text",
              "id": "page-title",
              "label": "Page Title",
 			  "default": "Stockists"
            }
			
		],
	"blocks": [
          {
          "type": "stock_box_column",
          "name": "Stock lists",
          "settings": [
          {
              "type": "image_picker",
              "id": "image",
              "label": "Logo Image"
          },
          {
              "type": "richtext",
              "id": "stock-address",
              "label": "Address",
			  "default": "<p>Address</p>"
          },
		  {
            "type": "text",
            "id": "cta-label",
            "label": "Web Address",
            "default": "www.google.com"
          },
          {
              "type": "url",
              "id": "cta-link",
              "label": "CTA link"
          }
			
		 ]
          },
		{
        "type": "contact-form",
        "name": "Contact form",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
		  {
            "type": "richtext",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "<p>Need to chat? Drop us a message below and we’ll get back to you asap. If it’s about an order, add in the relevant details to speed things up.</p>"
          },
          
          {
            "type": "checkbox",
            "id": "show_phone",
            "label": "Show phone number"
          },
		  {
            "type": "checkbox",
            "id": "show_order",
            "label": "Show Order number"
          },
          {
            "type": "checkbox",
            "id": "narrow_column",
            "label": "Narrow column",
            "default": true
          }
        ]
      }
	],
    "presets": [
          {
            "name": "Vote Intro",
            "category": "Text"
          }
        ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
  <style type="text/css">
* {
  box-sizing: border-box;
}
section a {
	border-bottom: 1.5px solid #eaeaea;
}    
/* Create three equal columns that floats next to each other */
.np-row{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
    
.column {
  width: 33.33%;
  padding: 10px;
  min-height: 215px;
}
 
.column img {
	width: 200px;
    height: auto;
    margin: 15px 0;
}
.column address { 
	margin-top: 5px;
	margin-bottom: 15px;
  	font-style: normal;
}
.column a {
  word-wrap: break-word;
    }    
/* Clear floats after the columns */
.np-row:after {
  content: "";
  display: table;
  clear: both;
}
.section-margin {
	margin-bottom: 60px;
}    
.column address p {
    margin: 0;
    }   
    
section h1 {
	border-bottom: 1.5px solid #eaeaea;
    display: inline-block;
  	text-transform: capitalize;
  font-weight: 600;
  margin: 15px auto;
}
@media (max-width: 768px) {
	.column {
  		float: left;
  		width: 100%;
	}
}
  
</style>