<div class="page-width">
  <section class="choose-code">
    <div class="choose-code-heading text-center">
      {% if section.settings.heading %}
      <h3>{{ section.settings.heading }}</h3>
      {% endif %}
      {% if section.settings.sub_heading %}
      <p>{{ section.settings.sub_heading }}</p>
      {% endif %}
    </div>

    <form class="choose-code-form"  autocomplete="off">
	{% if customer %}
          <input type="hidden" id="custId" class="form-email" name="email" value="{{ customer.email }}"> 
      {% else %}
       
      	 <div class="choose-code-mail">
            <div class="input-icon-wrap">
              <span class="input-icon"><img src="{{ section.settings.email_image | img_url: 'master' }}" alt="email icon"></span>
              <input type="text" class="input-with-icon form-email" id="form-email"  name="email" placeholder="example@example.com">
            </div>  
            <div class="choose-code-tooltip">
              <span class="hover-me" data-tip="Please enter your email to vote as you are not logged in!"
                    tabindex="2"><img src="{{ section.settings.tooltip_image | img_url: 'master' }}" class="tooltip" alt="tooltip"></span>
            </div>
          </div>
      {% endif %}
     
      <div class="choose-code-mail-warning">
        <p>Please enter your email</p>
      </div>
      <select class="hidden" name="charity" id="voting_form_charity_id">
        <option value=""></option>
        <option value="5">Empower Women</option>tab2
        <option value="1">Children's Hope</option>tab3
        <option value="3">Wild Aid</option>tab5
        <option value="2" >War Child UK</option>tab4
        <option value="4">Big Life</option>tab1
        <option value="0">All Cause</option>
      </select>

      <input type="hidden" name="voting_form[code]" id="voting_form_code" value="" maxlength="10">

      <div class="choose-code-input">
        <input class="choose-code-input-field choose-code-input-field-mobile" maxlength="10" type="text" placeholder="Code:XXX..">
      </div>

      <div class="choose-code-input choose-code-input--desktop">
        <input class="choose-code-input-field" maxlength="1" type="text" name="token[1]">
        <input class="choose-code-input-field" maxlength="1" type="text" name="token[2]">
        <input class="choose-code-input-field" maxlength="1" type="text" name="token[3]">
        <input class="choose-code-input-field" maxlength="1" type="text" name="token[4]">
        <input class="choose-code-input-field" maxlength="1" type="text" name="token[5]">
        <input class="choose-code-input-field" maxlength="1" type="text" name="token[6]">
        <input class="choose-code-input-field" maxlength="1" type="text" name="token[7]">
        <input class="choose-code-input-field" maxlength="1" type="text" name="token[8]">
        <input class="choose-code-input-field" maxlength="1" type="text" name="token[9]">
        <input class="choose-code-input-field" maxlength="1" type="text" name="token[10]">
        {% if section.settings.button %}
          <button class="choose-code-input-submit" disabled>{{ section.settings.button }}</button>
          {% endif %}
      </div>
      
       
      <div class="choose-code-warning-api">
      </div>
    </form>
  </section>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript">
  var jQuery_3_4_1 = $.noConflict(true);
      
  jQuery_3_4_1(document).ready(function () {

    var specialKeys = [];
    specialKeys.push(8);  //Backspace
    specialKeys.push(9);  //Tab
    specialKeys.push(46); //Delete
    specialKeys.push(36); //Home
    specialKeys.push(35); //End
    specialKeys.push(37); //Left
    specialKeys.push(39); //Right
    specialKeys.push(13); //Enter

    var hiddenInput = jQuery_3_4_1("#voting_form_code");
    var couponCodeArray = hiddenInput.val().split();
    var couponCode;
    var maxLength = 10;
    var submitBtn = jQuery_3_4_1(".choose-code-input-submit");

    jQuery_3_4_1(".choose-code-input--desktop input, .choose-code-input-field-mobile").keydown(function (e) {
      couponAnimation();
      var input = jQuery_3_4_1(this);
      var isMobile = jQuery_3_4_1(this).hasClass("choose-code-input-field-mobile");
      input.addClass("isFilled");
      var index = input.index();
      var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
      var ret = ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 96 && keyCode <= 105));
      if (ret) {
        var code = (e.key).toLowerCase();
        couponCodeArray[index] = code;

        couponCode = couponCodeArray.join('');

        hiddenInput.val(couponCode);
        if (couponCode.length === maxLength) {
          submitBtn.attr('disabled', false);
          return;
        } else {
          submitBtn.attr('disabled', true);
        }

        setTimeout( function() {
          input.next().select();
        });
      }
      else if (keyCode === 8) {

        setTimeout(function() {


          if (input.val() === '') {
            e.preventDefault();
            couponCodeArray[index] = '';
            couponCode = couponCodeArray.join('');
            submitBtn.attr('disabled', true);
            hiddenInput.val(couponCode);
          } if (index !== 0) {
            input.prev().select();
          }
        });
      }
      else if (keyCode === 37) {
        //Left Key operation
        setTimeout(function() {
          input.prev().select();
        });
      }
      else if (keyCode === 39) {
        //Right Key operation
        setTimeout(function() {
          input.next().select();
        });
      }
      else if (keyCode === 46) {
        //Delete Key operation
        setTimeout(function() {
          if (input.val() === '') {
            couponCodeArray[index] = '';
            couponCode = couponCodeArray.join('');
            submitBtn.attr('disabled', true);
            hiddenInput.val(couponCode);
          }
        });
      }

    });

    setTimeout(function() {
      couponAnimation();
    }, 5000);

});

function couponAnimation() {
  var desktopInputs = jQuery_3_4_1(".choose-code-input--desktop input");
  //var mobileInput = jQuery_3_4_1(".choose-code-input-field-mobile");
  var delayForInputPlaceholder = 2050;
  //var mobileInputPlaceholder = jQuery_3_4_1(".choose-code-input-field-mobile").attr("placeholder") || '';
  if (jQuery_3_4_1(".choose-code-form input.isFilled").length) {

    desktopInputs.attr("placeholder", '');
    return;
  }
  desktopInputs.each(function () {
    var self = $(this)

    if (jQuery_3_4_1(".choose-code-form input.isFilled").length) {

      desktopInputs.attr("placeholder", '');
    } else {
      setTimeout(function() {
        if (jQuery_3_4_1(".choose-code-form input.isFilled").length) {
          desktopInputs.attr("placeholder", '');

        } else {
          var number = randomNumber(1, 9);
          self.attr("placeholder", number);
          //mobileInputPlaceholder += number.toString();
          //mobileInput.attr("placeholder", mobileInputPlaceholder);

          if (self.index() === desktopInputs.last().index()) {

            setTimeout(function() {
              desktopInputs.attr("placeholder", '');
              //mobileInput.attr("placeholder", '');

              setTimeout(function() {
                couponAnimation();
              }, 500);
            }, 1000);
          }
        }
      }, delayForInputPlaceholder * self.index());
    }

  });
}

function randomNumber(min, max) { // min and max included
  return Math.floor(Math.random() * (max - min + 1) + min);
}     
</script>
<style>
/* 
* Helper Classes 
*/
.hidden {
  display: none !important;
}

.choose-code {
  max-width: 1150px;
  margin: 0 auto;
}

.choose-code .choose-code-heading h3 {
  font-weight: 600;
  font-size: 30px;
  text-transform: none;
  margin-bottom: 0px;
}
  
  .choose-code .choose-code-heading p {
    font-size: 16px;
    margin-bottom: 20px;
  }

/* email and tooltip */
.choose-code-mail {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input-icon-wrap {
  border: 1px solid #ddd;    
  display: flex;
  flex-direction: row;
}

.input-icon {
  background: #fff;
  border:1px solid #000;
}

.input-with-icon {
  border-bottom: 1px solid black;
  border-right:  1px solid black;
  border-top:   1px solid black;
  flex: 1;
}

.input-icon, .input-with-icon {
  padding: 15px 20px;
}

.choose-code-tooltip {
  margin-left: 20px;
  margin-top: 15px;

}
.choose-code-tooltip img {
  width: 20px;
    height: 20px;
    vertical-align: middle;

}

/*== start of code for tooltips ==*/
  
  .hover-me {
	cursor: pointer;
	position: relative;
}
.hover-me:before {
  opacity: 0;
  position: absolute;
  
}
.hover-me:after { 
  opacity: 0;
  
}
.hover-me:hover::after,
.hover-me:focus::after {
  opacity: 1; 
}
  
.hover-me:hover::before,
.hover-me:focus::before {
  opacity: 1; 
}
.hover-me:before {
	content: attr(data-tip);
	position: absolute;
	width: 17.5em;
  	font-size: 14px;
	bottom: calc(10% + 40px);
	background-color: white;
	padding: 0.5em 0.8em;
  	margin-left: -3.75em;
	left: 0;
	right: 0;
	transform: translateX(-25%);
	text-align: center;
	box-shadow: 1px 1px 8px 0 #ccc;
}

.hover-me:after {
	content: '';
	width: 20px;
	height: 20px;
	background-color: white;
	box-shadow: -2px 3px 2px -1px #ccc;
	position: absolute;
	bottom: calc(10% + 38px);
	left: 50%;
	transform: translateX(-50%);
	transform: rotate(-45deg) translateX(-50%); 
  	
	z-index: 10;
}
  
.tool {
  cursor: help;
  position: relative;
}
.choose-code-warning {
  	display: flex;
    flex-direction: row;
    width: 100%;
  	justify-content: center !important;
  
  }
.choose-code-warning p, .choose-code-warning-api p {
	margin-bottom: 0px;
	color:#ff0000;  
  	display:none;
  
  }
  .choose-code-warning-api p, .choose-code-warning p.active {
  	display: block;
    padding: 6px 0;
  }

.choose-code-form {
  text-align: center;
  margin: 32px auto;
}


@media (min-width: 769px) {
  .choose-code-input {
    display: none;
  }
  .choose-code-input-submit {
  	width: 140px;
    float: left;
    display: inline-block;
    margin-left: 10px;  
  }
  
  .choose-code-input--desktop {
    display: block;
    margin: 0 auto;
    width: 750px;
    height: 60px

	}
}

.choose-code-input-field {
  width: 100%;
  height:40px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  border: 1px #000 solid;
  color: #000;
  background-color: #fff;
  /* &:focus, &:hover, &:active {
        border-width: 2px;
    } */
}

.choose-code-input-field:not(:last-of-type) {
  border-right: 0;
}

.choose-code-input-field[disabled] {
  background: #FFF;
  border: 1px #000 solid;
}

.choose-code-input-field:not(.choose-code-input-field-mobile) {
  width: 60px;
  height: 60px;
  float:left;
}

.choose-code-input-field:disabled {
  color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.choose-code-input-submit {
  padding: 1.125rem 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  background-color: #000;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.choose-code-input-submit.disabled, .choose-code-input-submit[disabled], .choose-code-input-submit.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  background-color: #000;
}

@media (min-width: 769px) {
  .choose-code-input-submit {
    float: left;
  }
}

.choose-code__error {
  margin-top: 15px;
  margin-bottom: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  white-space: pre-line;
  color: #ef3a3f;
  font-size: 13px;
}

@media (min-width: 769px) {
  .choose-code__error {
    font-size: 15px;
    white-space: pre-wrap;
  }
  .choose-code-mail-warning p, .charity-warning p, .charity-warning-desktop p { 
    
    	display: none;
    }
  .choose-code-mail-warning p.active, .charity-warning-desktop p.active {
      color:#ff0000;
      margin: 10px 0px;
      display: block;
	}

  .choose-code__error--empty {
    display: none;
  }

.choose-code .tooltip .tooltip-inner {
  color: red;
  
}
}
  @media (max-width: 768px) {
  
    span.input-icon {
    	display:none;
    }
    .choose-code-warning, .charity-warning-desktop p, .charity-warning p, .choose-code-mail-warning p {
    	display: none;
    }
    .charity-warning p.active, .choose-code-mail-warning p.active {
    
      display:block;
      color:#ff0000;
      margin: 10px 0px;
    
    }
    
    .choose-code-input--desktop .choose-code-input-field {

    	display: none;
    }
    
    .choose-code-tooltip {
    	
      display:none;
    }
    charity-warning p.active, .choose-code-mail-warning p.active {
      color:#ff0000;
      margin: 10px 0px;
      display: block;
	}
    .input-icon-wrap {
    
    	width: 95%;
    }
    .input-with-icon {
    	border-left: 1px solid black;
    }
    .choose-code-input-field {
    	width: 95%;
      	text-align:left;
      	padding:15px 25px;
        height: auto;
    
    }
    .choose-code-input {
    	margin-bottom:20px;
    }
    .choose-code-input-submit {
    
    	margin-top:20px;
    }
    .choose-code-input-submit.disabled, .choose-code-input-submit[disabled], .choose-code-input-submit.btn[disabled], .choose-code-input-submit {
    
    	width:95%;
    }
    .choose-code-form {

    position: relative;

	}
    .choose-code-warning {
    	position: relative;
		font-size: 16px;
    
    }
    
  }
  
  
/*# sourceMappingURL=style.css.map */
</style>
{% schema %}
  {
    "name": "Vote Code Section",
    "class": "np-vote",
    "settings": [
			{
              "type": "text",
              "id": "heading",
              "label": "Vote Heading",
 			  "default": "FIND UNIQUE CODE (ON THE CARE LABEL)"
            },
			{
              "type": "text",
              "id": "sub_heading",
              "label": "Vote Subheading",
 			  "default": "and type it below to place a vote"
            },
			{
              "type": "text",
              "id": "button",
              "label": "Button Text",
 			  "default": "Enter Vote"
            },
			{
              "type": "image_picker",
              "id": "tooltip_image",
              "label": "Tooltip Icon"
            },
			{
              "type": "image_picker",
              "id": "email_image",
              "label": "Email Icon"
            }
		
		
		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>

(function atPollForjQuery() {
    if (window.jQuery !== undefined) {
        var $ = window.jQuery;
        if ($(".choose-code-form").length > 0) {
            try {
					var selected_option = $('#voting_form_charity_id option').filter(':selected').text();;
// 					console.log(selected_option);

					$('.choose-code-input-field:first').focus();
                      $('.choose-code-input-field').attr('maxlength','10');
                      var submitBtn = $(".choose-code-input-submit");
                      $('.choose-code-input-field').on('keyup change', function(){
                          $t = $(this);
                          if ($t.val().length > 0) {
                              $t.next().focus();
                          }
                          $('.choose-code-input-field').keydown(function(e) {
                              if ((e.which == 8 || e.which == 46) && $(this).val() =='') {
                                  $(this).prev('.choose-code-input-field').focus();
                              }
                          });
                          var token_number = '';
                          $('.choose-code-input-field').each(function(){
                              token_number += $(this).val() + ' ';
                              if ($(this).val().length == 1) {
                                  $(this).next().focus();
                              }
                          })
                      });
                      $(document).on('input', 'input[name^=token]', function(e) {
                          var text = $(this).val();
                          if (text.length == 10) {
                              for (i=1 ; i<=text.length ; i++) { 
                                  $('input[name^=token]').eq(i-1).val(text[i-1]).change();
                              }

                          }
                          else if (text.length > 1) {
                              $(this).val(text[0]);
                          }
                      });
						
                      $('.choose-code-input-field:not(.choose-code-input-field-mobile)').on("keyup change", function(){
                          var value = '';
                          $('.choose-code-input-field:not(.choose-code-input-field-mobile)').each(function(){
                              value += $(this).val().trim();
                          }); 
                          if(value.length == $('.choose-code-input-field:not(.choose-code-input-field-mobile)').length) {
                              submitBtn.removeAttr('disabled');
//                               console.log(value.length + ' : ' + value);
                          } else {
                              submitBtn.attr('disabled', 'disabled');

                          }
                      });

					$("input.choose-code-input-field-mobile").on("change keyup",function() {
                        var maxLength = $(this).attr("maxlength");
                        if(maxLength == $(this).val().length) {
                           submitBtn.removeAttr('disabled');
                        }
                      })
                    
                    $( document ).ready(function() {
                    
                      
                    var url =  window.location.href;
                      // get query string from url (optional) or window
                  var queryString = url ? url.split('?')[1] : window.location.search.slice(1);

                  // we'll store the parameters here
                  var obj = {};

                  if (queryString) {
//                     console.log(queryString);
                    queryString = queryString.split('#')[0];
                    var arr = queryString.split('&');

                    for (var i = 0; i < arr.length; i++) {
                        var a = arr[i].split('=');
                        var paramName = a[0];
                        var paramValue = typeof (a[1]) === 'undefined' ? true : a[1];
                        if (paramName.match(/\[(\d+)?\]$/)) {
                          var key = paramName.replace(/\[(\d+)?\]/, '');
                          if (!obj[key]) obj[key] = [];
                          if (paramName.match(/\[\d+\]$/)) {
                            var index = /\[(\d+)\]/.exec(paramName)[1];
                            obj[key][index] = paramValue;
                          } else {
                            obj[key].push(paramValue);
                          }
                        } else {
                          if (!obj[paramName]) {
                            obj[paramName] = paramValue;
                          } else if (obj[paramName] && typeof obj[paramName] === 'string'){
                            obj[paramName] = [obj[paramName]];
                            obj[paramName].push(paramValue);
                          } else {
                            obj[paramName].push(paramValue);
                          }
                        }
                    }

                    if(obj['code'].length == $('.choose-code-input-field:not(.choose-code-input-field-mobile)').length) {
                          var code = obj['code'];
                        
                              var i = 0;
                                 $('.choose-code-input-field:not(.choose-code-input-field-mobile)').each(function(){
                                $(this).val(code.charAt(i));
                                i++;
                             });
                              $('.choose-code-input-field-mobile').val(code).change();
                                   $('.choose-code-input-submit').removeAttr('disabled');
                           
                      setTimeout(function(){ 
                      	$('html, body').stop(true, false).animate({
                                    scrollTop: $('#shopify-section-vote-code').offset().top
                                }, 1000);
                      
                      }, 2500);
                    }
						
                  }
                    
                    });
                    


                  $("form.choose-code-form").on("submit", function(e) {
                        e.preventDefault();
                        var email = validateemail();
						var charityCheck = $("#voting_form_charity_id").val();
                        
                    		if (email == false && charityCheck === "") {	
                              $('.choose-code-mail-warning p').addClass("active");
                              $('.charity-warning p').addClass("active");
                              $('.charity-warning-desktop p').addClass("active");
                              
                              $('html, body').stop(true, false).stop(true, false).animate({
                                    scrollTop: $('#shopify-section-vote-page-charities').offset().top
                                }, 1000);
							}
                          
							else if(email == false) {
//                               $('.choose-code-warning p').removeClass("active");
//                               $('.choose-code-warning').html("<p class='active'> Please Select Email</p>");
                               $('.charity-warning p').removeClass("active");
                              $('.charity-warning-desktop p').removeClass("active");
                              $('.choose-code-mail-warning p').addClass("active");

                              }
                          	else if(charityCheck === "") {
                              
                               $('.choose-code-mail-warning p').removeClass("active");
                              $('.charity-warning-desktop p').addClass("active");
                              $('html, body').stop(true, false).animate({
                                    scrollTop: $('#shopify-section-vote-page-charities').offset().top
                                }, 1000);

                              }
						
                    	
                        else {
								
                            if ($('.choose-code-warning p, .choose-code-mail-warning p, .charity-warning p, .charity-warning-desktop p').hasClass("active")) {		
                              $('.choose-code-warning p, .choose-code-mail-warning p, .charity-warning p, .charity-warning-desktop p').removeClass("active");
                            }
							var hiddenInput = $("#voting_form_code").val();
							var charity = $("#voting_form_charity_id").val();
                         
							var code = '';
									if($('.choose-code-input-field').is(':visible')){
											 $('.choose-code-input-field:not(.choose-code-input-field-mobile)').each(function(){
                                                  code += $(this).val().trim();
                                              }); 
                                        }
									if($('.choose-code-input-field-mobile').is(':visible')){
												code += $('.choose-code-input-field-mobile').val();
                                      		}
//                           console.log('charity: ', +charityCheck+ 'charity2:'+charity);	
							if(code != ""){
                              console.log(code.toUpperCase());
							$.ajax({
                                  type: 'POST',
                                  url:
                                      'https://g95bmanyri.execute-api.eu-west-2.amazonaws.com/staging/validateVote',
                                  data: JSON.stringify({
                                      'vote': code,
                                      'email': email,
                                      'charity': charityCheck
                                  }),
                                  headers: {
                                      "x-api-key": "lMxCDX4lDR4Rt1UcfJFv48VD8NIVu2oJ6BBgiWmm"
                                  },
                                  contentType: 'application/json',
                                  dataType: 'json',
                                  crossDomain: true,
                                  success: function(data, status) {  
//                                       console.log(data, status);
										if(data.success === true){
												switch (charity) {
                                                        
														case "1":
                                                            window.location.href = "https://npltd.myshopify.com/pages/thank-you?charity=1";
                                                            break;
                                                        case "2":
                                                            window.location.href = "https://npltd.myshopify.com/pages/thank-you?charity=2";
                                                            break;
                                                        case "3":
															window.location.href = "https://npltd.myshopify.com/pages/thank-you?charity=3";
                                                            break;
														case "4":
                                                            window.location.href = "https://npltd.myshopify.com/pages/thank-you?charity=4";
                                                            break;
                                                        case "5":
															window.location.href = "https://npltd.myshopify.com/pages/thank-you?charity=5";
                                                            break;
														case "0":
															window.location.href = "https://npltd.myshopify.com/pages/thank-you?charity=6";
                                                            break;
                                                        default:
                                                            break;
                                                    }
											}
                                            else {
                                              
                                              if(data.error == 'No match exception'){
                                              
                                              	 $('.choose-code-warning-api').html("<p class='active'>Your code isn't matching, please try again or head to our <a href='https://ninetypercent.com/pages/faq?p=faq-third'>FAQs</a> for voting support.</p>");
                                              }
                                              else if(data.error == 'Vote code blocked exception'){
                                              
                                              $('.choose-code-warning-api').html("<p class='active'>The code has been blocked! Please try again.</p>");
                                              }
                                              else if (data.error == 'Duplicate email exception'){
                                              
                                              	$('.choose-code-warning-api').html("<p class='active'>You have already voted. Please recheck and try again.</p>");
                                              }
                                              
                                             }
                                  		}
                              	});

							}
							else{
									 $('.choose-code-warning').html("<p class='active'> Please check your code!!</p>");
								}
						}
                       function validateemail(){  
                            var x = $('.form-email').val(); 
                            var atposition=x.indexOf("@");  
                            var dotposition=x.lastIndexOf(".");  
                            if (atposition<1 || dotposition<atposition+2 || dotposition+2>=x.length){  

                              return false;  
                              }  
                              return x;
                            }
                     });

					var queryString = window.location.href;
						
                    var urlParams = new URLSearchParams(queryString);
                    var voteCode = urlParams.get('code');

            } catch (err) {
                console.log('TRY ERROR: ' + err);
            }
        } else {
            setTimeout(atPollForjQuery, 25);
        }
    } else {
        setTimeout(atPollForjQuery, 25);
    }
})();
</script>