<div class="page-width text-center">
  <section class="vote-sec section-margin" data-active-tab="0">
    <div class="vote-heading">
      {% if section.settings.title != blank %}
      <h1 class="vote-head">{{ section.settings.title | escape }}</h1>
      {% endif %}
      {% if section.settings.title != blank %}
      <p class="vote-para">{{ section.settings.subtitle | escape }}</p>
      {% endif %}
    </div>
    <div class="charity-warning">
      <p>Please select a cause to vote.</p>
      <p> For voting help <a href="https://npltd.myshopify.com/pages/faq?p=faq-third">click here</a></p>
    </div>
    <div class="np-charity-icon-block">
    
      <div class="desktop-mobile-only">

        <ul class="tabs">
            
          {% for block in section.blocks %}
          <li class="" rel="tab{{ forloop.index }}">
          	<div class="vote-tab-icon">
                <span class="vote-tab-icon-image">
                  <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}">
                  <img src="{{ block.settings.image-active | img_url: 'master' }}" class="img-top" alt="{{ block.settings.image-active.alt | escape }}">
                </span>
              </div>
              <div class="vote-tab-text text-spacing">
                <h5>{{ block.settings.title }}</h5>
              </div>
          </li>
          {% endfor %}
         </ul>
        <div class="tab_container">
            <!-- #tab1 -->
          {% for block in section.blocks %}
          		<div class="tab_drawer_heading" rel="tab{{ forloop.index }}">
                    <div class="vote-tab-icon-mobile">
                      <span class="vote-tab-icon-image-mobile">
                      <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}">
                      <img src="{{ block.settings.image-active | img_url: 'master' }}" class="img-top" alt="{{ block.settings.image-active.alt | escape }}">
                    </span>
                    </div>
                    <div class="vote-tab-text-mobile">
                      <h5>{{ block.settings.title }}</h5>
                    </div>
                  </div>
                  <div id="tab{{ forloop.index }}" class="tab_content">
                      <div class="col-one">
                        <img src="{{ block.settings.image-description | img_url: 'master' }}" class="content-image" alt="{{ block.settings.image-company-logo.alt | escape }}">
                      </div>
                      <div class="col-two">
                        <div class="content-flex">
                          <div class="logo">
                            <img src="{{ block.settings.image-company-logo | img_url: 'master' }}" class="logo-image" alt="{{ block.settings.image-company-logo.alt | escape }}">
                          </div>
                              {{ block.settings.tab-description }}
                        </div>
                      </div>

                  </div>
          	{% endfor %}
          
        </div>

      </div>

    <div class="tab-only">
        <ul class="tabs">
            
           {% for block in section.blocks %}
          		{% if forloop.index <= 3 %}
          				<li class="" rel="tab{{ forloop.index }}t">
                          <div class="vote-tab-icon">
                            <span class="vote-tab-icon-image">
                              <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}">
                              <img src="{{ block.settings.image-active | img_url: 'master' }}" class="img-top" alt="{{ block.settings.image-active.alt | escape }}">
                            </span>
                          </div> 
                          <div class="vote-tab-text text-spacing">
                            <h5>{{ block.settings.title }}</h5>
                          </div>
                        </li>
          		{% endif %}
          {% endfor %}
          
          </ul>
        <div class="tab_container">
            <!-- #tab1 -->
			{% for block in section.blocks %}
          		{% if forloop.index <= 3 %}
          			<div id="tab{{ forloop.index }}t" class="tab_content">
                        <div class="col-one">
                          <img src="{{ block.settings.image-description | img_url: 'master' }}" class="content-image" alt="{{ block.settings.image-description.alt | escape }}">
                        </div>
                        <div class="col-two">
                          <div class="content-flex">
                            <div class="logo">
                              <img src="{{ block.settings.image-company-logo | img_url: 'master' }}" class="logo-image" alt="{{ block.settings.image-company-logo.alt | escape }}">
                            </div>
                               {{ block.settings.tab-description }}
                        </div>

                      </div>
          			</div>
          		{% endif %}
            {% endfor %}
            
          </div>
      		 <ul class="tabs" style="margin-top:20px;">
            
           {% for block in section.blocks %}
          		{% if forloop.index > 3 %}
          				<li class="" rel="tab{{ forloop.index }}t">
                          <div class="vote-tab-icon">
                            <span class="vote-tab-icon-image">
                              <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}">
                              <img src="{{ block.settings.image-active | img_url: 'master' }}" class="img-top" alt="{{ block.settings.image-active.alt | escape }}">
                            </span>
                          </div> 
                          <div class="vote-tab-text text-spacing">
                            <h5>{{ block.settings.title }}</h5>
                          </div>
                        </li>
          		{% endif %}
          {% endfor %}
          
          </ul>
        <div class="tab_container">
            <!-- #tab1 -->
			{% for block in section.blocks %}
          		{% if forloop.index > 3 %}
          			<div id="tab{{ forloop.index }}t" class="tab_content">
                        <div class="col-one">
                          <img src="{{ block.settings.image-description | img_url: 'master' }}" class="content-image" alt="{{ block.settings.image-description.alt | escape }}">
                        </div>
                        <div class="col-two">
                          <div class="content-flex">
                            <div class="logo">
                              <img src="{{ block.settings.image-company-logo | img_url: 'master' }}" class="logo-image" alt="{{ block.settings.image-company-logo.alt | escape }}">
                            </div>
                               {{ block.settings.tab-description }}
                        </div>

                      </div>
          			</div>
          		{% endif %}
            {% endfor %}
            
          </div>

    </div>
      <div class="charity-warning-desktop">
      <p>Please select a cause to vote. For voting help <a href="https://npltd.myshopify.com/pages/faq?p=faq-third">click here</a></p>
    </div>
     </div>
  </section>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
  }

  .clearfix {
    content: "";
    clear: both;
    display: table;
  }
.vote-sec .vote-heading {
    text-align: center;
    margin-top: 50px;
  }

  .vote-sec p {
    font-size: 16px;
  }
  
  .vote-sec .vote-heading h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: none;
  }

  .vote-sec .vote-heading p {
    margin-bottom: 30px;
  }

.np-charity-icon-block ul.tabs li {
  margin: 0;
  cursor: pointer;
  padding: 0px 20px;
  height: 252px;
  line-height: 25px;
  color: #ccc;
  overflow: hidden;
  position: relative;
  width: 16.16%;
  color: #000;
  font-weight: 500;
}

.np-charity-icon-block .vote-tab-icon-image {
  width: 115px;
  height: 115px;
  position: relative;
  display: block;
  margin: 0 auto;
}

.np-charity-icon-block ul.tabs li .vote-tab-icon .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

 .np-charity-icon-block ul.tabs li:hover .img-top {
   display: block;
   margin: 0 auto;
 }
.np-charity-icon-block ul.tabs li.active .img-top {
  display: block;
  margin: 0 auto;
}
/* .tab_last {  }

.tab_container .tab_content.hide-content {
  	display:none;
  } */
.np-charity-icon-block ul.tabs li:hover {
  color: #333;
}

.np-charity-icon-block ul.tabs li.active {
  background-color: #fff;
  color: #333;
  border-bottom: 1px solid #fff;
  display: block;
  font-weight: 700;
}

.np-charity-icon-block .tab_container {
  border-top: none;
  clear: both;
  width: 100%;
  background: #fff;
  position: relative;
  margin-top: -1px;
}

.np-charity-icon-block .tab_content .col-one {
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  max-width: 375px;
  margin: 0px auto;
}
.np-charity-icon-block .tab_content .col-two {

    flex-basis: 0;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    max-width: 100%;
    display: inline-block;
    position: relative;
}
.np-charity-icon-block .tab_content .col-two .content-flex {
    float: left;
    width: 100%;
    height: auto;
    padding: 30px 25px;
    text-align: left;

}
  
.np-charity-icon-block .tab_drawer_heading::after, .np-charity-icon-block .tab_drawer_heading::after, .np-charity-icon-block .tab_content .col-two::after {
	content: "";
  	clear: both;
    display: table;
}
  
.np-charity-icon-block .tab_content .content-image {
    max-height: 350px;
}
  
.np-charity-icon-block .tab_content .content-image {
    padding: 30px;
    max-width: 100%;
    height: auto;
}
.np-charity-icon-block .tab_content .logo > img {

    max-height: 65px;

}
.np-charity-icon-block .tab_content p {

    font-size: 16px;

}
.np-charity-icon-block ul.tabs li img {

  width: 100%;
}
.np-charity-icon-block .vote-tab-text {

  text-align: center;
}
.np-charity-icon-block .vote-tab-text h5 {
  	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.079rem;
	text-transform: initial;
	color: #737373;
  	margin-top: 30px;
	margin-bottom: 20px;
}
.np-charity-icon-block ul.tabs li:hover h5 {
	color:#000;
}
.np-charity-icon-block ul.tabs li.active h5 {
  color:#000;
}
.np-charity-icon-block ul.tabs li.active:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: calc(50% - 20px);
  border: 20px solid transparent;
  border-bottom-color: #f4f4f4;
  z-index: 9999;
}

@media (max-width: 768px) {
  .np-charity-icon-block .tab_drawer_heading {
    display: block;
}

 .np-charity-icon-block ul.tabs {
    display: none;
  }
  .np-charity-icon-block .tab_drawer_heading {
    color: #fff;
    margin: 0;
    padding: 5px 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    height:110px;
  }
  .np-charity-icon-block .d_active {
    color: #000;
    font-weight: 700;
    font-size:14px;

  }
 .np-charity-icon-block .tab_drawer_heading {
    color: #000;
    font-weight: 500;
    font-size:14px;

  }
 .np-charity-icon-block .tab_content .col-one {

    display: none;
  }
  .np-charity-icon-block .tab_drawer_heading .vote-tab-icon-mobile {
    float: left;
    width: 95px;
  }
  
  .np-charity-icon-block .tab_drawer_heading .vote-tab-text-mobile {
    float: left;
    width: calc(100% - 95px);
    height: 80px;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 15px;
  }
  
  .np-charity-icon-block .vote-tab-icon-image-mobile img {

    width: 85px;
    height: 85px;
    margin: 0;
  }
.np-charity-icon-block .vote-tab-icon-mobile .img-top {
        display: none;

    }
.np-charity-icon-block .tab_drawer_heading:hover img.img-top, .np-charity-icon-block .d_active img.img-top {
        display: block;
        margin: 0 auto;

    }
.np-charity-icon-block .tab_drawer_heading:hover img, .np-charity-icon-block .d_active img {

    display: none;

}  
  .tab_drawer_heading.d_active::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: calc(50% - 20px);
    border: 20px solid transparent;
    border-bottom-color: transparent;
border-bottom-color: transparent;
border-bottom-color: #f4f4f4;
    z-index: 99999;
    left: 46px;
	}
  .np-charity-icon-block .tab_content {
      background-color: #f4f4f4;
    margin-bottom: 10px;
  }
  .np-charity-icon-block .tab-only {
    display: none;
  }
  
  .vote-tab-icon-image-mobile {
    display: block;
    height: 85px;

	}
}

@media (min-width: 769px) {

 .np-charity-icon-block .tab_drawer_heading { display: none; }

    .np-charity-icon-block ul.tabs {
      margin: 0;
      padding: 0;
      list-style: none;
      height: auto;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
    }

.np-charity-icon-block .tab_content {
      background-color: #f4f4f4;
      display: flex;
      flex-direction: row;
    }
.np-charity-icon-block .tab-only, .np-charity-icon-block .charityHide {
    display: none;
  }
/*     .charityHide {
  display:none;
  } */
}

@media only screen and (min-width:769px) and (max-width:1023px) {

.np-charity-icon-block .tab-only {
    display: block;
  }
.np-charity-icon-block .desktop-mobile-only {
    display: none;
  }
.np-charity-icon-block .tab-only {
    position: relative;
    display: block;
  }
.np-charity-icon-block .tab-only ul.tabs li { 
    width: 32.33%;
  }
}

</style>
{% schema %}
  {
    "name": "Vote charities section",
	"class": "np-vote",
    "max_blocks" : 6,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "You choose, we share"
      }, 
	  {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Heading",
        "default": "What would you like to do?"
      }	
	],
	"blocks": [
		{
          "type": "icon_box_column",
          "name": "Vote Charity Option",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Tab Name",
              "default": "Empower Women"
            }, 
			{
              "type": "image_picker",
              "id": "image",
              "label": "Tab Image"
            }, 
			{
              "type": "image_picker",
              "id": "image-active",
              "label": "Tab Active Image"
            }, 
			{
              "type": "image_picker",
              "id": "image-description",
              "label": "Description Image"
            }, 
			{
              "type": "image_picker",
              "id": "image-company-logo",
              "label": "Description Logo"
            }, 
			{
			  "type": "richtext",
			  "id": "tab-description",
			  "label": "Tab Description"
			}
		  ]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>
(function atPollForjQuery() {
    if (window.jQuery !== undefined) {
        var $ = window.jQuery;
      $(".tab_container").addClass("charityHide");
 } else {
        setTimeout(atPollForjQuery, 25);
    }
})();  
		document.onreadystatechange = function () {
            if (document.readyState === 'complete') {
              
                jQuery.fx.off = true;
                $(".tab_content").hide();
				
              /* if in tab mode */
                $("ul.tabs li").click(function() {
					$(".tab_container").removeClass("charityHide");
                  $(".tab_content").hide();
				
                  var activeTab = $(this).attr("rel"); 
                  $("#"+activeTab).fadeIn();
                  $("ul.tabs li").removeClass("active");
                  $(this).addClass("active");

                  $(".tab_drawer_heading").removeClass("d_active");
                  $(".tab_drawer_heading[rel^='"+activeTab+"']").addClass("d_active");

					var tabActive = activeTab.charAt(4)
                      var tabNo = activeTab.substring(0, 4);
                      if( tabActive == 't'){

                              $("ul.tabs li[rel^='"+tabNo+"']").addClass("active");
								 $(".tab_container .tab_drawer_heading[rel^='"+tabNo+"']").addClass("d_active");
								$("#"+tabNo).fadeIn();
								
                      }
						else{
							 $("ul.tabs li[rel^='"+tabNo+"t']").addClass("active");
								$("#"+tabNo+"t").fadeIn();
						}

						if(tabNo != ''){
												switch (tabNo) {
                                                        
														case "tab1":
                                                            $('select#voting_form_charity_id').val('4');
                                                            break;
                                                        case "tab2":
                                                            $('select#voting_form_charity_id').val('5');
                                                            break;
                                                        case "tab3":
															$('select#voting_form_charity_id').val('1');
                                                            break;
														case "tab4":
                                                            $('select#voting_form_charity_id').val('2');
                                                            break;
                                                        case "tab5":
															$('select#voting_form_charity_id').val('3');
                                                            break;
														case "tab6":
															$('select#voting_form_charity_id').val('0');
                                                            break;
                                                        default:
																$('select#voting_form_charity_id').val('');
                                                            break;
                                                    }
											
											}
					

                });
                /* if in drawer mode */
                $(".tab_drawer_heading").click(function() {
					$(".tab_container").removeClass("charityHide");
                  $(".tab_content").hide();
                  var d_activeTab = $(this).attr("rel"); 
					 
                  $("#"+d_activeTab).fadeIn("fast");
                  $(".tab_drawer_heading").removeClass("d_active");
                  $(this).addClass("d_active");

                  $("ul.tabs li").removeClass("active");
                  $("ul.tabs li[rel^='"+d_activeTab+"']").addClass("active");
						var tabActive = d_activeTab.charAt(4)
                      var tabNo = d_activeTab.substring(0, 4);
                      if( tabActive == 't'){

                              $("ul.tabs li[rel^='"+tabNo+"']").addClass("active");
								$("#"+tabNo).fadeIn();
								
                      }
						else{
							 $("ul.tabs li[rel^='"+tabNo+"t']").addClass("active");
								$("#"+tabNo+"t").fadeIn();
						}


						if(tabNo != ''){
												switch (tabNo) {
                                                        
														case "tab1":
                                                            $('select#voting_form_charity_id').val('4');
                                                            break;
                                                        case "tab2":
                                                            $('select#voting_form_charity_id').val('5');
                                                            break;
                                                        case "tab3":
															$('select#voting_form_charity_id').val('1');
                                                            break;
														case "tab4":
                                                            $('select#voting_form_charity_id').val('2');
                                                            break;
                                                        case "tab5":
															$('select#voting_form_charity_id').val('3');
                                                            break;
														case "tab6":
															$('select#voting_form_charity_id').val('0');
                                                            break;
                                                        default:
																$('select#voting_form_charity_id').val('');
                                                            break;
                                                    }

											}

                });

									

                /* Extra class "tab_last" 
                   to add border to right side
                   of last tab */
                $('ul.tabs li').last().addClass("tab_last");

            }
        }
</script>