{% layout none %}<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
{%- paginate collection.products by 1000 -%}
{%- assign PriceAdjustment = 1.0 -%}
{%- assign additionalImagesForVariants = true -%}
{%- assign filterVariantImagesByColor = false -%}
<channel>
<title>{{ shop.name }} </title>
<link>{{ shop.url }}</link>
<description>{{ collection.description | strip_html }}</description>
{%- for product in collection.products -%} 
  {%- assign GoogleProductCategory = product.metafields.mm-google-shopping.google_product_category -%}
  {%- assign Gender = product.metafields.mm-google-shopping.gender -%}
  {%- assign AgeGroup = product.metafields.mm-google-shopping.age_group -%}
  {%- assign Color = "" -%}
  {%- assign Size = "" -%}
	{% assign color_active = false %}
  {% for option in product.options %}
    {% if option == 'Color' %}
       {% assign color_active = true %}
    {% endif %}
  {% endfor %}
  {%- if product.variants.size > 0 and color_active == true -%}
  {% for option in product.options %}
   {% if option == 'Color' %}
   {% assign index = forloop.index0 %}
   {% assign colorlist = '' %}
   {% assign color = '' %}
  {%- for variant in product.variants -%}
  	{% if variant.available %}
  		{%- for option in product.options -%}
          {%- if option == 'Color' -%}{% capture Color %}{{ variant.options[forloop.index0] }}{% endcapture %}
          {%- endif -%}
        {%- endfor -%}
    {% capture color %}
     	{{ variant.options[index] }}
     {% endcapture %}
	
  	{% assign additional_images = product.images %}
	{% if filterVariantImagesByColor %}{% assign additional_images = product.images | where: "alt", Color | sort: 'attached_to_variant' | reverse%}{% endif %}

  	{% comment %} Calculate Sales vs Base Pricing  
    {%- if variant.compare_at_price =='' -%}
      {%- assign BasePrice = variant.price -%}
    {%- else -%}
      {%- assign BasePrice = variant.compare_at_price -%}
    {%- endif -%}
    {%- assign SalePrice = variant.price | times: PriceAdjustment -%}
	{% endcomment %}
{% unless colorlist contains color %}
<item>
<g:id>{{ variant.sku }}</g:id>
<g:title>{{ product.title | strip_html | strip_newlines | replace: '&', '&amp;' }}</g:title>
<g:description>{{ product.description | replace: '</', ' </' | strip_html | strip_newlines | replace: '&', '&amp;' }}</g:description>
<g:link>{{ shop.url }}{{ variant.url }}</g:link>
<g:image_link>http:{% if variant.image.src %}{{ variant.image.src | product_img_url: 'grande' }}{% else %}{{ product.featured_image.src | product_img_url: 'grande' }}{% endif %}</g:image_link>
<g:condition>new</g:condition>
<g:price>{{ variant.price | money_without_currency }} {{ shop.currency }}</g:price>  
<g:availability>{% if variant.available %}in stock{% else %}out of stock{% endif %}</g:availability>  
<g:gtin></g:gtin> 
<g:mpn>{{ variant.sku }}</g:mpn>  
<g:google_product_category>Clothing &amp; Accessories &gt; Clothing</g:google_product_category>
<g:product_type>{{ product.type | replace: '&', '&amp;' }}</g:product_type>  
<g:age_group>{{ AgeGroup }}</g:age_group>
{% unless Color == "" %}<g:color>{{ Color | strip_html | strip_newlines | replace: '&', '&amp;' }}</g:color>{% endunless %}

<g:brand>{{ product.vendor }}</g:brand>  
  
<g:material>{%- for tag in product.tags -%} {%- if tag contains '_materials_' -%}{%- assign materials = tag | split: '_materials_' | last -%} {%- endif -%}{%- endfor -%} {{ materials | replace: '-', ' ' }}</g:material>
<g:product_line></g:product_line>
{% if additionalImagesForVariants %}
{% if additional_images.size > 1 %}{%- for image in additional_images offset:1 limit:10 -%}
<g:additional_image_link>https:{{ image.src | product_img_url: 'master' }}</g:additional_image_link>
{% endfor %}{% endif %}
{% endif %} 
<g:gender>female</g:gender>
{%- if SalePrice < BasePrice -%}<g:sale_price>{{ SalePrice | money_without_currency }} {{ shop.currency }}</g:sale_price>{%-  endif -%}
</item>
   {% capture tempList %}
  {{colorlist | append: color | append: " " }}
{% endcapture %}
{% assign colorlist = tempList %}
{% endunless %}
	{% endif %}
  {% endfor %}
 {% endif %}
  {% endfor %}
  {% else %}
{% comment %} Calculate Sales vs Base Pricing  
  {%- if product.compare_at_price_min =='' -%}
    {%- assign BasePrice = product.price -%}
  {%- else -%}
    {%- assign BasePrice = product.compare_at_price_min -%}
  {%- endif -%}
  {%- assign SalePrice = product.price | times: PriceAdjustment -%}
{% endcomment %}
{% if product.available %}
<item>
<g:id>{{ product.sku }}</g:id>  
<g:title>{{ product.title | strip_html | strip_newlines | replace: '&', '&amp;' }}</g:title>
<g:description>{{ product.description | replace: '</', ' </' | strip_html | strip_newlines | replace: '&', '&amp;' }}</g:description>  
<g:link>{{ shop.url }}{{ product.url }}</g:link>
<g:google_product_category>{{ GoogleProductCategory | replace: '&', '&amp;'  }}</g:google_product_category>
<g:image_link>http:{{ product.featured_image.src | product_img_url: 'grande' }}</g:image_link>  
<g:condition>new</g:condition>
<g:price>{{ product.price | money_without_currency }} {{ shop.currency }}</g:price>
<g:availability>{% if product.available %}in stock{% else %}out of stock{% endif %}</g:availability>
<g:gtin></g:gtin>
<g:mpn>{{ product.sku }}</g:mpn>
<g:google_product_category>Clothing &amp; Accessories &gt; Clothing</g:google_product_category>  
<g:product_type>{{ product.type }}</g:product_type>  
<g:age_group>{{ AgeGroup }}</g:age_group>  
<g:brand>{{ product.vendor }}</g:brand>
<g:material>{%- for tag in product.tags -%} {%- if tag contains '_n_p_materials_' -%}{%- assign materials2 = tag | split: '_n_p_materials_' -%} {{ materials2 }} {%- endif -%}{%- endfor -%}</g:material>
<g:product_line></g:product_line>
{% if product.images.size > 1 %}{%- for image in product.images offset:1 limit:10 -%}
<g:additional_image_link>https:{{ image.src | product_img_url: 'master' }}</g:additional_image_link>
{% endfor %}{% endif %}
<g:gender>female</g:gender>
 {%- if SalePrice < BasePrice -%}<g:sale_price>{{ SalePrice | money_without_currency }} {{ shop.currency }}</g:sale_price>{%-  endif -%} 
</item>
  {% endif %}
  {% endif %}
{% endfor %}
</channel>
</rss>
{% endpaginate %}

